<kt-portlet class="main-container">
  <kt-portlet-header
    class="main-container"
    [sticky]="true"
    [title]="'Réclamation de client'"
    [class]="'card-head-lg'"
    [viewLoading$]="loading$"
    style="background-color: beige"
  >
    <ng-container ktPortletTools>
      <button
        type="button"
        (click)="goBack()"
        class="btn btn-secondary btn-sm mr-2"
      >
        Annuler
      </button>
      <button
        *ngIf="!automaticCauseExist"
        type="button"
        (click)="onSubmit()"
        class="btn btn-sm mr-2 btn-abracadabra"
      >
        sauvegarder
      </button>
      <button
        *ngIf="automaticCauseExist"
        type="button"
        (click)="validateAutomaticComplaints()"
        class="btn btn-sm mr-2 btn-abracadabra"
      >
      valider
      </button>
      <!-- <button
        hidden
        id="call-alert"
        type="button"
        (click)="open2(content2)"
        class="btn btn-sm mr-2 btn-abracadabra"
      >
        Alert
      </button> -->
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body class="main-container">
    <div class="example-preview row">

      <!-- RECLAMATION FORM -->
      <form class="form col-6" [formGroup]="reclamationForm">
        <!-- CARD -->
        <div class="card card-custom gutter-b">
            <div class="card-header">
              <!-- TITLE  -->
              <div class="card-title mt-2 mb-2 p-3">
                <span class="card-icon">
                  <!-- text-warning -->
                  <i class="flaticon-user icon-xl" style="color: #ffb701"></i>
                </span>
                <h3 class="card-label section-title" style="color: #ffb701">
                  Données personnelles du client
                </h3>
              </div>

              <!-- BUTTON -->
              <!-- <div> -->
              <div *ngIf="customerNotExist">
                <button
                  type="button"
                  (click)="open(content)"
                  class="btn btn-sm mr-2 mt-3 btn-abracadabra"
                >
                  Créer un client
                </button>
              </div>
            </div>
            <div class="card-body">
              <!-- PHONE -->
              <div class="row align-middle">
                <div class="col-4 align-middle">
                  <label class="align-middle">Numéro de téléphone:</label>
                </div>
                <div class="col-4">
                  <div class="input-group input-group-sm">
                    <input
                      value="phone_number"
                      type="text"
                      class="form-control form-control-solid"
                      formControlName="phonee"
                      (change)="getCustomerData()"
                      aria-describedby="basic-addon2"
                    />
                  </div>
                </div>
                <!-- <div class="col-8">
                  <h3>{{ phone_number }}</h3>
                </div> -->
              </div>
              <!-- PHONE -->

              <!-- PHONE NUMBER -->
              <div class="row align-middle mt-5">
                <div class="col-4 align-middle">
                  <label class="align-middle">Numéro de téléphone:</label>
                </div>
                <div class="col-8">
                  <h3>{{ phone_number }}</h3>
                </div>
              </div>
              <!-- PHONE NUMBER -->

              <!-- NAME -->
              <div class="row align-middle mt-5">
                <div class="col-4 align-middle">
                  <label class="align-middle">Nom et prénom:</label>
                </div>
                <div class="col-8">
                  <h3>{{ name }}</h3>
                </div>
              </div>
              <!-- NAME -->

              <!-- ADR -->
              <div class="row align-middle mt-5">
                <div class="col-4 align-middle">
                  <label class="align-middle">Address:</label>
                </div>
                <div class="col-8">
                  <h3>{{ adressDisplay }}</h3>
                </div>
              </div>
              <!-- ADR -->

              <!-- AGE -->
              <div class="row align-middle mt-5">
                <div class="col-4 align-middle">
                  <label class="align-middle">Age:</label>
                </div>
                <div class="col-8">
                  <h3>{{ ageDisplay }}  </h3>
                </div>
              </div>
              <!-- AGE -->

              <!-- GENDER -->
              <div class="row align-middle mt-5">
                <div class="col-4 align-middle">
                  <label class="align-middle">Gender:</label>
                </div>
                <div class="col-8">
                  <h3>{{ gender }}</h3>
                </div>
              </div>
              <!-- GENDER -->

              <!-- SELECT -->
              <!-- SELECT -->


            </div>
        </div>
        <!-- CARD END  -->

         <!-- ORDER FORM -->
         <form class="form" [formGroup]="reclamationForm">
          <!-- CARD -->
          <div class="card card-custom gutter-b">
            <div class="card-header">
              <div class="card-title mt-2 mb-2 p-3">
                <span class="card-icon section-title">
                  <i class="flaticon-list icon-xl" style="color: #ffb701"></i>
                </span>
                <h3 class="card-label section-title" style="color: #ffb701">
                  Détails de la commande
                </h3>
              </div>
            </div>
            <div class="card-body">
              <!-- FORM INPUTS -->
              <!-- *ngIf="isExist" -->
              <kt-alert  *ngIf="orderNotExist" type="warn" [showCloseButton]="true" [duration]="10000"
                      (close)="onAlertClose($event)">
                      Aucune commande n'existe avec ce code
              </kt-alert>
              <!-- ORDER NUMBER -->
              <div>
                {{ time | async }}
              </div>
              <div class="row align-middle mt-5">
                <div class="col-4 align-middle">
                  <label class="align-middle">Numéro de commande:</label>
                </div>
                <div class="col-4">
                  <div class="input-group input-group-sm">
                    <input
                      type="text"
                      class="form-control form-control-solid"
                      formControlName="order_code"
                      (change)="getOrder()"
                      aria-describedby="basic-addon2"
                    />
                  </div>
                </div>
              </div>
              <!-- ORDER NUMBER -->

              <!-- SITE -->
              <div class="row align-middle mt-5">
                <div class="col-4 align-middle">
                  <label class="align-middle">Site de la boutique:</label>
                </div>
                <div class="col-8">
                  <h3>{{ order_site }}</h3>
                </div>
              </div>
              <!-- SITE -->

              <!-- SITE -->
              <div class="row align-middle mt-5">
                <div class="col-4 align-middle">
                  <label class="align-middle">Date de commande:</label>
                </div>
                <div class="col-8">
                  <h3>{{ order_date }}</h3>
                </div>
              </div>
              <!-- SITE -->

              <!-- EMP ORDER -->
              <div class="row align-middle mt-5">
                <div class="col-4 align-middle">
                  <label class="align-middle">EMP de commande:</label>
                </div>
                <div class="col-8">
                  <h3>{{ order_emp }}</h3>
                </div>
              </div>
              <!-- EMP ORDER -->

              <!-- FORM INPUTS -->
            </div>
          </div>
          <!-- CARD END  -->
        </form>
      
        <!-- ORDER FORM -->
      </form>
      <!-- RECLAMATION FORM -->

      <!-- CAUSES FORM -->
      <div class="col-6">
        <form class="form" [formGroup]="reclamationForm">
          <!-- CARD -->
          <div class="card card-custom gutter-b">
            <div class="card-header">
              <div class="card-title mt-2 mb-2 p-3">
                <span class="card-icon section-title">
                  <i class="flaticon-list icon-xl" style="color: #ffb701"></i>
                </span>
                <h3 class="card-label section-title" style="color: #ffb701">
                  Les causes
                </h3>
              </div>
            </div>
            <div class="card-body">
              <!-- FORM INPUTS -->
              <!-- *ngIf="isExist" -->
              <kt-alert  *ngIf="orderNotExist" type="warn" [showCloseButton]="true" [duration]="10000"
                      (close)="onAlertClose($event)">
                      Aucune commande n'existe avec ce code
              </kt-alert>
              

            <!-- CAUSES -->
            <div class="row mt-5 ml-2">

              <div class="row">

                  <!-- NEW ACCORDION -->
                  <div class="accordion" id="accordionExample">

                    <div class="accordion-item" *ngFor="let cause of filtered_causes; let i = index">

                      <h3 class="accordion-header" id="panelsStayOpen-headingOne-{{i}}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" attr.data-bs-target="#panelsStayOpen-collapseOne-{{i}}" aria-expanded="true" attr.aria-controls="panelsStayOpen-collapseOne-{{i}}">
                          {{cause.groupe_titel}}
                        </button>
                      </h3>
                      

                      <div id="panelsStayOpen-collapseOne-{{i}}" class="accordion-collapse collapse " attr.aria-labelledby="panelsStayOpen-headingOne-{{i}}">
                        <div class="accordion-body">

                          <div
                          class="col-12"
                          *ngFor="let cause of cause.causes_group; let j = index"
                        >
                          <div class="row mt-5">
                            <fieldset class="col-6">
                              <input
                                type="checkbox"
                                formControlName="{{ cause.code_value }}"
                                (change)="onCauseSelect(cause.code_value)"
                              />
                              <label for="coding" class="ml-2">
                                {{cause.code_desc}}
                            </label>
                            </fieldset>

                            <div class="input-group input-group-sm col-6">
                              <textarea
                                rows="2"
                                type="text"
                                class="mt-1 form-control form-control-solid"
                                formControlName="{{ cause.code_value }}text-area"
                              >
                              </textarea>
                            </div>
                          </div>
                      </div>

                        </div>
                      </div>

                    </div>
                    
                  </div>
                  <!-- NEW ACCORDION -->

                  
              </div>
            </div>

             



              <!-- FORM INPUTS -->
            </div>
          </div>
          <!-- CARD END  -->

        </form>

        
      
      </div>
      <!-- CAUSES FORM -->
      

    
    </div>

    <!-- MODAL -->
    <div class="row">
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Nouveau Client</h4>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <!--begin::Form-->
            <form
              class="form"
              [formGroup]="customerForm"
              autocomplete="off"
              novalidate="novalidate"
              class="ml-5"
            >
              <!-- NAME -->
              <div class="row align-middle mt-5">
                <div class="col-4 align-middle">
                  <label class="align-middle">Nom et prénom:</label>
                </div>
                <div class="col-6">
                  <div class="input-group input-group-sm">
                    <input
                      type="text"
                      class="form-control form-control-solid"
                      aria-describedby="basic-addon2"
                      formControlName="name"
                    />
                  </div>
                </div>
              </div>

              <!-- NAME -->

              <!-- AGE -->
              <div class="row align-middle mt-5">
                <div class="col-4 align-middle">
                  <label class="align-middle">Age:</label>
                </div>
                <div class="col-6">
                  <div class="input-group input-group-sm">
                    <input
                      type="number"
                      class="form-control form-control-solid"
                      aria-describedby="basic-addon2"
                      formControlName="age"
                    />
                  </div>
                </div>
              </div>
              <!-- AGE -->

              <!-- SEXE -->
              <div class="row align-middle mt-5">
                <div class="col-4 align-middle">
                  <label class="align-middle mt-2">Gender:</label>
                </div>
                <div class="col-6">
                  <select
                    formControlName="gender"
                    class="form-control form-control-solid"
                  >
                    <option value="homme" class="mt-1">Homme</option>
                    <option value="femme">Femme</option>
                  </select>
                </div>
              </div>
              <!-- SEXE -->

              <!-- COMMUNE -->
              <div class="row align-middle mt-5">
                <div class="col-4 align-middle">
                  <label class="align-middle">Commune:</label>
                </div>
                <div class="col-6">
                  <div class="input-group input-group-sm">
                    <input
                      type="text"
                      class="form-control form-control-solid"
                      aria-describedby="basic-addon2"
                      formControlName="commune"
                    />
                  </div>
                </div>
              </div>
              <!-- COMMUNE -->

              <!-- EMAIL -->
              <div class="row align-middle mt-5">
                <div class="col-4 align-middle">
                  <label class="align-middle">Email:</label>
                </div>
                <div class="col-6">
                  <div class="input-group input-group-sm">
                    <input
                      type="text"
                      class="form-control form-control-solid"
                      aria-describedby="basic-addon2"
                      formControlName="email"
                    />
                  </div>
                </div>
              </div>

              <!-- EMAIL -->
            </form>
            <!--end::Form-->
          </div>
        </div>
        <div class="modal-footer">
          <button
            hidden
            id="closeForm"
            class="btn btn-primary"
            (click)="c('Close click')"
          ></button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="c('Close click')"
          >
            Annuller
          </button>
          <button
            type="button"
            class="btn btn-abracadabra"
            (click)="saveCustomer()"
          >
            Ajouter
          </button>
        </div>
      </ng-template>
    </div>
    <!-- MODAL END -->


    <!-- MODAL -->
    <div class="row">
      <ng-template #content1 let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Traitement automatique des causes</h4>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <!--begin::Form-->
            <form
              class="form"
              [formGroup]="customerForm"
              autocomplete="off"
              novalidate="novalidate"
              
              class="pl-5 pr-5"
            >
            
              <div class="row align-middle form-group-bg" *ngFor="let cause of automatic_treat_data; let i = index">
                      
                <!-- CAUSE -->
                <div class="col-2 align-middle mt-2">
                  <label class="align-middle">Cause:</label>
                </div>
                <div class="col-4 mt-2" >{{cause.cause_display}}</div>
                <!-- CAUSE END  -->
                
                <!-- METHOD -->
                <div class="col-2 align-middle mt-2">
                  <label class="align-middle">Methode:</label>
                </div>
                <div class="col-4 mt-2">{{cause.method_display}}</div>
                <!-- METHOD END -->
            
              </div>

              
            </form>
            <!--end::Form-->
          </div>
        </div>
        <div class="modal-footer">
          <button
            hidden
            id="closeForm1"
            class="btn btn-primary"
            (click)="c('Close click')"
          ></button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="c('Close click')"
          >
            Annuller
          </button>
          <button
            type="button"
            class="btn btn-abracadabra"
            (click)="confirmAutomatic()"
          >
            Confirmer
          </button>
        </div>
      </ng-template>
    </div>
    <!-- MODAL END -->

    <!-- BUTTON TO OPEN MODAL 2 : AUTOMATIC COMPLAINTS -->
    <button
    hidden
    id="modal2Button"
    class="btn btn-primary"
    (click)="open1(content1)"
    ></button>

   
  </kt-portlet-body>
</kt-portlet>



  <!-- COMPLAINT AUTO TREAT FORM -->
         <!-- <div class="card card-custom gutter-b">
            <div class="card-header">
              <div class="card-title mt-2 mb-2 p-3">
                <span class="card-icon section-title">
                  <i class="flaticon-list icon-xl" style="color: #ffb701"></i>
                </span>
                <h3 class="card-label section-title" style="color: #ffb701">
                  Traitement automatique de réclamation
                </h3>
              </div>
            </div>
          <div class="card-body">
            <div class="row align-middle mt-5">
              <div class="col-4 align-middle">
                <label class="align-middle">La cause:</label>
              </div>
              <div class="col-8">
                <h5>cause_1</h5>
              </div>
            </div>
            <div class="row align-middle mt-5">
              <div class="col-4 align-middle">
                <label class="align-middle">Méthode de traitement:</label>
              </div>
              <div class="col-8">
                <h5>method_1</h5>
              </div>
            </div>
            
          </div>
         </div> -->
         <!-- COMPLAINT AUTO TREAT FORM -->