<kt-portlet>
    <kt-portlet-header [sticky]="true" title="Ajouter une Facture" [class]="'card-head-lg'" [viewLoading$]="loading$">
      <ng-container ktPortletTools>
        <button type="button" (click)="goBack()" class="btn btn-secondary btn-sm mr-2">annuler</button>
        <button type="button" (click)="reset()" class="btn btn-secondary btn-sm mr-2">Réinitialiser</button>
        <button type="button" (click)="onSubmit()" class="btn btn-success btn-sm mr-2">sauvegarder</button>
      </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
      <div class="example-preview">
        <form class="form" [formGroup]="soForm">
          <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
            {{ message }}
          </kt-alert>
          <div class="row">
            
            <div class="form-group col-2">
              <label class="form-group">Tournée :</label>
              <div class="input-group input-group-sm">
                <input type="text" class="form-control form-control-solid" formControlName="itinerary_code" id="itinerary_code" (change)="onChangeItin()" aria-describedby="basic-addon2" />
                <div class="input-group-append">
                  <span class="input-group-text" (click)="open3(content3)"> <i class="text-dark-50 flaticon2-search"></i> </span>
                </div>
              </div>
            </div>
            <div class="form-group col-2">
              <label class="form-group">Client :</label>
              <div class="input-group input-group-sm">
                <input type="text" class="form-control form-control-solid" formControlName="customer_code" id="customer_code" (change)="onChangeCust()" aria-describedby="basic-addon2" />
                <div class="input-group-append">
                  <span class="input-group-text" (click)="open2(content2)"> <i class="text-dark-50 flaticon2-search"></i> </span>
                </div>
              </div>
            </div>
            <div class="form-group col-2">
              <label class="form-group">Nom:</label>
              <div class="input-group input-group-sm">
                <input type="text" class="form-control form-control-solid" formControlName="name" aria-describedby="basic-addon2" disabled/>
                
              </div>
            </div>
            <div class="form-group col-3">
              <label class="form-group">Date de Service:</label>
              <div class="input-group input-group-sm">
                <input class="form-control form-control-sm form-control-solid" formControlName="period_active_date"  placeholder="jj-mm-aaaa" name="period_active_date" ngbDatepicker f #period_active_date="ngbDatepicker"  />
                <div class="input-group-append">
                  <button class="btn btn-primary" (click)="period_active_date.toggle()" type="button">
                    <i class="flaticon-calendar-with-a-clock-time-tools"></i>
                  </button>
                </div>
              </div>
            </div>
            
          </div>
         
          <div class="row">
           <div class="form-group col-3">
              <label class="form-group">Condition de règlement :</label>
              <select [className]="soForm.controls['payment_term_code'].errors && (soForm.controls['payment_term_code'].dirty || soForm.controls['payment_term_code'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'" formControlName="payment_term_code" id="exampleSelects2" (change)="calculatetot()">
                <option value=""></option>
                <option *ngFor="let elem of payment_term_code" [value]="elem.payment_method_code">{{ elem.payment_method_code }} {{ elem.description }}</option>
              </select>
              <div *ngIf="soForm.controls['payment_term_code'].errors && (soForm.controls['payment_term_code'].dirty || soForm.controls['payment_term_code'].touched)" class="invalid-feedback">Ce Champs est obligatoire</div>
            </div>
           
           
          </div>
          <div class="row">
            <div class="form-group col-2">
              <label class="form-group">Imprimer:</label>
              <div class="input-group input-group-sm">
                <span class="switch switch-icon">
                  <label>
                    <input type="checkbox" class="form-control form-control-sm form-control-solid" formControlName="print" />
                    <span></span>
                  </label>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <button class="btn btn-sm btn-primary btn-elevate col-lg-4" (click)="addNewItem()">Ajouter un Article</button>
          </div>
          <div class="row">
            <angular-slickgrid class="col-12" gridHeight="300" gridId="mGrid" [columnDefinitions]="columnDefinitions" [gridOptions]="gridOptions" [dataset]="dataset" (onAngularGridCreated)="gridReady($event)"> </angular-slickgrid>
          </div>
        </form>
  
        <form class="form" [formGroup]="totForm">
          <h3 class="card-title text-center">Totaux:</h3>
          <div class row col-6>
            <div class="form-group-sm row">
              <label class="col-9 col-form-label text-right">Total HT</label>
              <div class="col-2">
                <input class="form-control" type="number" style="text-align: right" formControlName="tht" />
              </div>
            </div>
  
            <div class="form-group-sm row">
              <label class="col-9 col-form-label text-right">TVA</label>
              <div class="col-2">
                <input class="form-control" type="number" style="text-align: right" formControlName="tva" />
              </div>
            </div>
            <div class="form-group-sm row">
              <label class="col-9 col-form-label text-right">Timbre</label>
              <div class="col-2">
                <input class="form-control" type="number" style="text-align: right" formControlName="timbre" />
              </div>
            </div>
            <div class="form-group-sm row">
              <label class="col-9 col-form-label text-right">TTC</label>
              <div class="col-2">
                <input class="form-control" type="number" style="text-align: right" formControlName="ttc" />
              </div>
            </div>
          </div>
        </form>
      </div>
      
      <div>
        <ng-template #content2 let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">Choissir le Client</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <angular-slickgrid class="col-12" gridHeight="300" gridId="gridpro" [columnDefinitions]="columnDefinitions2" (onAngularGridCreated)="angularGridReady2($event)" (sgOnSelectedRowsChanged)="handleSelectedRowsChanged2($event.detail.eventData, $event.detail.args)" [gridOptions]="gridOptions2" [dataset]="customers"> </angular-slickgrid>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">annuler</button>
            <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
          </div>
        </ng-template>
      </div>
  
      <div>
        <ng-template #content3 let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">Choissir Tournée</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <angular-slickgrid class="col-12" gridHeight="300" gridId="griditin" 
              [columnDefinitions]="columnDefinitions3" 
              (onAngularGridCreated)="angularGridReady3($event)"
              (sgOnSelectedRowsChanged)="handleSelectedRowsChanged3($event.detail.eventData, $event.detail.args)" 
              (sgonDblClick)="dbclick3($event)"
              [gridOptions]="gridOptions3" [dataset]="itinerarys"> </angular-slickgrid>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">annuler</button>
            <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
          </div>
        </ng-template>
      </div>      
    </kt-portlet-body>
  </kt-portlet>
  
