<kt-portlet>
  <kt-portlet-header [sticky]="true" [title]="'Ajouter un Client mobile'" [class]="'card-head-lg'" [viewLoading$]="loading$">
    <ng-container ktPortletTools>
      <button type="button" (click)="goBack()" class="btn btn-secondary btn-sm mr-2">annuler</button>
      <button type="button" (click)="reset()" class="btn btn-secondary btn-sm mr-2">Réinitialiser</button>
      <button type="button" (click)="onSubmit()" class="btn btn-success btn-sm mr-2">enregistrer</button>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>
    <div class="example-preview">
      <div>
        <ngb-tabset>
          <!-- TAB 1 -->
          <ngb-tab>
            <ng-template ngbTabTitle>
              Information basique
              <div style="width: 10px"></div>
              <a *ngIf="hasFormErrors" class="btn btn-sm btn-icon btn-light-danger pulse pulse-danger mr-5">
                <i class="flaticon2-information"></i>
                <span class="pulse-ring"></span>
              </a>
            </ng-template>
            <ng-template ngbTabContent>
              <form [formGroup]="customerMobileForm" class="form">
                <kt-alert *ngIf="isExist" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)"> Ce code customer existe deja - Si vous voulez le mettre à jour<button type="warn" (click)="onChangeProfile()" class="btn">Cliquez ici</button> </kt-alert>
                <div class="row">
                  <div class="form-group col-4">
                    <label class="form-group" id="code">Code:</label>
                    <input type="text" (change)="onChangeCode()" [className]="customerMobileForm.controls['customer_code'].errors && (customerMobileForm.controls['customer_code'].dirty || customerMobileForm.controls['customer_code'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'" formControlName="customer_code" />
                    <div *ngIf="customerMobileForm.controls['customer_code'].errors && (customerMobileForm.controls['customer_code'].dirty || customerMobileForm.controls['customer_code'].touched)" class="invalid-feedback">Ce Champs est obligatoire</div>
                  </div>
                </div>
                <div>
                  {{ time | async }}
                </div>
                <div class="row">
                  <div class="form-group col-4">
                    <label class="form-group">Nom:</label>
                    <input type="text" [className]="customerMobileForm.controls['customer_name'].errors && (customerMobileForm.controls['customer_name'].dirty || customerMobileForm.controls['customer_name'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'" formControlName="customer_name" />
                    <div *ngIf="customerMobileForm.controls['customer_name'].errors && (customerMobileForm.controls['customer_name'].dirty || customerMobileForm.controls['customer_name'].touched)" class="invalid-feedback">Ce Champs est obligatoire</div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-4">
                    <label class="form-group">Nom 2:</label>
                    <input type="text" [className]="customerMobileForm.controls['customer_name2'].errors && (customerMobileForm.controls['customer_name2'].dirty || customerMobileForm.controls['customer_name2'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'" formControlName="customer_name2" />
                    <div *ngIf="customerMobileForm.controls['customer_name2'].errors && (customerMobileForm.controls['customer_name2'].dirty || customerMobileForm.controls['customer_name2'].touched)" class="invalid-feedback">Ce Champs est obligatoire</div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-4">
                    <label class="form-group">Nom Arabe</label>
                    <input type="text" [className]="customerMobileForm.controls['customer_arabic_name'].errors && (customerMobileForm.controls['customer_arabic_name'].dirty || customerMobileForm.controls['customer_arabic_name'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'" formControlName="customer_arabic_name" />
                    <div *ngIf="customerMobileForm.controls['customer_arabic_name'].errors && (customerMobileForm.controls['customer_arabic_name'].dirty || customerMobileForm.controls['customer_arabic_name'].touched)" class="invalid-feedback">Ce Champs est obligatoire</div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-4">
                    <label class="form-group">Addresse1:</label>
                    <input type="text" [className]="customerMobileForm.controls['addresse_one'].errors && (customerMobileForm.controls['addresse_one'].dirty || customerMobileForm.controls['addresse_one'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'" formControlName="addresse_one" />
                    <div *ngIf="customerMobileForm.controls['addresse_one'].errors && (customerMobileForm.controls['addresse_one'].dirty || customerMobileForm.controls['addresse_one'].touched)" class="invalid-feedback">Ce Champs est obligatoire</div>
                  </div>
                  <div class="form-group col-4">
                    <label class="form-group">Addresse2:</label>
                    <input type="text" [className]="customerMobileForm.controls['addresse_two'].errors && (customerMobileForm.controls['addresse_two'].dirty || customerMobileForm.controls['addresse_two'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'" formControlName="addresse_two" />
                    <div *ngIf="customerMobileForm.controls['addresse_two'].errors && (customerMobileForm.controls['addresse_two'].dirty || customerMobileForm.controls['addresse_two'].touched)" class="invalid-feedback">Ce Champs est obligatoire</div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-2">
                    <label class="form-group">Contact:</label>

                    <input type="text" [className]="customerMobileForm.controls['customer_contact'].errors && (customerMobileForm.controls['customer_contact'].dirty || customerMobileForm.controls['customer_contact'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'" formControlName="customer_contact" />
                    <div *ngIf="customerMobileForm.controls['customer_contact'].errors && (customerMobileForm.controls['customer_contact'].dirty || customerMobileForm.controls['customer_contact'].touched)" class="invalid-feedback">Ce Champs est obligatoire</div>
                  </div>
                  <div class="form-group col-2">
                    <label class="form-group">Téléphone:</label>

                    <input type="text" [className]="customerMobileForm.controls['customer_phone_one'].errors && (customerMobileForm.controls['customer_phone_one'].dirty || customerMobileForm.controls['customer_phone_one'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'" formControlName="customer_phone_one" />
                    <div *ngIf="customerMobileForm.controls['customer_phone_one'].errors && (customerMobileForm.controls['customer_phone_one'].dirty || customerMobileForm.controls['customer_phone_one'].touched)" class="invalid-feedback">Ce Champs est obligatoire</div>
                  </div>
                  <div class="form-group col-2">
                    <label class="form-group">Tel 2:</label>

                    <input type="text" [className]="customerMobileForm.controls['customer_phone_two'].errors && (customerMobileForm.controls['customer_phone_two'].dirty || customerMobileForm.controls['customer_phone_two'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'" formControlName="customer_phone_two" />
                    <div *ngIf="customerMobileForm.controls['customer_phone_two'].errors && (customerMobileForm.controls['customer_phone_two'].dirty || customerMobileForm.controls['customer_phone_two'].touched)" class="invalid-feedback">Ce Champs est obligatoire</div>
                  </div>
                  <div class="form-group col-2">
                    <label class="form-group">Fax:</label>

                    <input type="text" [className]="customerMobileForm.controls['customer_fax'].errors && (customerMobileForm.controls['customer_fax'].dirty || customerMobileForm.controls['customer_fax'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'" formControlName="customer_fax" />
                    <div *ngIf="customerMobileForm.controls['customer_fax'].errors && (customerMobileForm.controls['customer_fax'].dirty || customerMobileForm.controls['customer_fax'].touched)" class="invalid-feedback">Ce Champs est obligatoire</div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-2">
                    <label class="form-group">Email:</label>

                    <input type="text" [className]="customerMobileForm.controls['customer_email'].errors && (customerMobileForm.controls['customer_email'].dirty || customerMobileForm.controls['customer_email'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'" formControlName="customer_email" />
                    <div *ngIf="customerMobileForm.controls['customer_email'].errors && (customerMobileForm.controls['customer_email'].dirty || customerMobileForm.controls['customer_email'].touched)" class="invalid-feedback">Ce Champs est obligatoire</div>
                  </div>
                  <div class="form-group col-2">
                    <label class="form-group">Web:</label>

                    <input type="text" [className]="customerMobileForm.controls['customer_web_adr'].errors && (customerMobileForm.controls['customer_web_adr'].dirty || customerMobileForm.controls['customer_web_adr'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'" formControlName="customer_web_adr" />
                    <div *ngIf="customerMobileForm.controls['customer_web_adr'].errors && (customerMobileForm.controls['customer_web_adr'].dirty || customerMobileForm.controls['customer_web_adr'].touched)" class="invalid-feedback">Ce Champs est obligatoire</div>
                  </div>
                  <div class="form-group col-2">
                    <label class="form-group">QR:</label>

                    <input type="text" [className]="customerMobileForm.controls['customer_barcode'].errors && (customerMobileForm.controls['customer_barcode'].dirty || customerMobileForm.controls['customer_barcode'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'" formControlName="customer_barcode" />
                    <div *ngIf="customerMobileForm.controls['customer_barcode'].errors && (customerMobileForm.controls['customer_barcode'].dirty || customerMobileForm.controls['customer_barcode'].touched)" class="invalid-feedback">Ce Champs est obligatoire</div>
                  </div>
                  <div class="form-group col-2">
                    <label class="form-group">Geoarea:</label>
                    <select class="form-control form-control-sm form-control-solid" id="exampleSelects1" formControlName="geoarea_code">
                      <option value=""></option>
                      <option *ngFor="let elem of ad_geoarea" [value]="elem.code_cmmt">
                        {{ elem.code_cmmt }}
                      </option>
                    </select>
                  </div>

                  <div class="form-group col-2">
                    <label class="form-group">Longitude:</label>
                    <input type="text" [className]="customerMobileForm.controls['longitude'].errors && (customerMobileForm.controls['longitude'].dirty || customerMobileForm.controls['longitude'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'" formControlName="longitude" />
                    <div *ngIf="customerMobileForm.controls['longitude'].errors && (customerMobileForm.controls['longitude'].dirty || customerMobileForm.controls['longitude'].touched)" class="invalid-feedback">Ce Champs est obligatoire</div>
                  </div>
                  <div class="form-group col-2">
                    <label class="form-group">Latitude:</label>
                    <input type="text" [className]="customerMobileForm.controls['latitude'].errors && (customerMobileForm.controls['latitude'].dirty || customerMobileForm.controls['latitude'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'" formControlName="latitude" />
                    <div *ngIf="customerMobileForm.controls['latitude'].errors && (customerMobileForm.controls['latitude'].dirty || customerMobileForm.controls['latitude'].touched)" class="invalid-feedback">Ce Champs est obligatoire</div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-2">
                    <label class="form-group">Pays:</label>
                    <select class="form-control form-control-sm form-control-solid" id="exampleSelects1" formControlName="country" (change)="onChangeCountry()">
                      <option value=""></option>
                      <option *ngFor="let elem of ad_country" [value]="elem.code_cmmt">
                        {{ elem.code_cmmt }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group col-2">
                    <label class="form-group">Wilaya:</label>
                    <select class="form-control form-control-sm form-control-solid" id="exampleSelects1" formControlName="city" (change)="onChangeCity()">
                      <option value=""></option>
                      <option *ngFor="let elem of ad_city" [value]="elem.code_cmmt">
                        {{ elem.code_cmmt }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group col-2">
                    <label class="form-group">Commune:</label>
                    <select class="form-control form-control-sm form-control-solid" id="exampleSelects1" formControlName="state" (change)="getPostalCode()">
                      <option value=""></option>
                      <option *ngFor="let elem of ad_state" [value]="elem.code_cmmt">
                        {{ elem.code_cmmt }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group col-2">
                    <label class="form-group">Code postale:</label>
                    <input type="text" [className]="customerMobileForm.controls['postal_code'].errors && (customerMobileForm.controls['postal_code'].dirty || customerMobileForm.controls['postal_code'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'" formControlName="postal_code" />
                    <div *ngIf="customerMobileForm.controls['postal_code'].errors && (customerMobileForm.controls['postal_code'].dirty || customerMobileForm.controls['postal_code'].touched)" class="invalid-feedback">Ce Champs est obligatoire</div>
                  </div>
                </div>
              </form>
            </ng-template>
          </ngb-tab>
          <!-- TAB 1 END -->

          <!-- TAB 2 -->
          <ngb-tab>
            <ng-template ngbTabTitle>
              information commerciales
              <div style="width: 10px"></div>
              <a *ngIf="hasFormErrors" class="btn btn-sm btn-icon btn-light-danger pulse pulse-danger mr-5">
                <i class="flaticon2-information"></i>
                <span class="pulse-ring"></span>
              </a>
            </ng-template>
            <ng-template ngbTabContent>
              <form [formGroup]="customerMobileForm" class="form">
                <div class="row">
                  <div class="form-group col-2">
                    <label class="form-group">Code cluster:</label>

                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control form-control-solid" aria-describedby="basic-addon2" formControlName="cluster_code" />
                      <div class="input-group-append">
                        <span class="input-group-text" (click)="open(content)"> <i class="text-dark-50 flaticon2-search"></i> </span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-2">
                    <label class="form-group">Code sous-cluster:</label>

                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control form-control-solid" aria-describedby="basic-addon2" formControlName="sub_cluster_code" />
                      <div class="input-group-append">
                        <span class="input-group-text" (click)="open2(content2)"> <i class="text-dark-50 flaticon2-search"></i> </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-2">
                    <label class="form-group">Code categorie:</label>

                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control form-control-solid" aria-describedby="basic-addon2" formControlName="category_code" />
                      <div class="input-group-append">
                        <span class="input-group-text" (click)="open3(content3)"> <i class="text-dark-50 flaticon2-search"></i> </span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-2">
                    <label class="form-group">Code type categorie:</label>

                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control form-control-solid" aria-describedby="basic-addon2" formControlName="category_type_code" />
                      <div class="input-group-append">
                        <span class="input-group-text" (click)="open4(content4)"> <i class="text-dark-50 flaticon2-search"></i> </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-2">
                    <label class="form-group">Code canal de vente:</label>

                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control form-control-solid" aria-describedby="basic-addon2" formControlName="sales_channel_code" />
                      <div class="input-group-append">
                        <span class="input-group-text" (click)="open5(content5)"> <i class="text-dark-50 flaticon2-search"></i> </span>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </ng-template>
          </ngb-tab>
          <!-- TAB 2 END -->
        </ngb-tabset>
      </div>

      <!-- SELECT CLUSTER POPUP -->
      <div>
        <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">Choissir cluster</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <angular-slickgrid class="col-12" gridHeight="300" gridId="griduser" [columnDefinitions]="columnDefinitions" (onAngularGridCreated)="angularGridReady($event)" (sgOnSelectedRowsChanged)="handleSelectedRowsChanged($event.detail.eventData, $event.detail.args)" [gridOptions]="gridOptions" [dataset]="clusters"> </angular-slickgrid>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">annuler</button>
            <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
          </div>
        </ng-template>
      </div>
      <!-- SELECT CLUSTER POPUP END -->

      <!-- SELECT SUB CLUSTER POPUP -->
      <div>
        <ng-template #content2 let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">Choissir sous-cluster</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <angular-slickgrid class="col-12" gridHeight="300" gridId="griduser" [columnDefinitions]="columnDefinitions2" (onAngularGridCreated)="angularGridReady2($event)" (sgOnSelectedRowsChanged)="handleSelectedRowsChanged2($event.detail.eventData, $event.detail.args)" [gridOptions]="gridOptions2" [dataset]="sub_clusters"> </angular-slickgrid>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">annuler</button>
            <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
          </div>
        </ng-template>
      </div>
      <!-- SELECT SUB CLUSTER POPUP END -->

      <!-- SELECT CATEGORY POPUP -->
      <div>
        <ng-template #content3 let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">Choissir categorie</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <angular-slickgrid class="col-12" gridHeight="300" gridId="griduser" [columnDefinitions]="columnDefinitions3" (onAngularGridCreated)="angularGridReady3($event)" (sgOnSelectedRowsChanged)="handleSelectedRowsChanged3($event.detail.eventData, $event.detail.args)" [gridOptions]="gridOptions3" [dataset]="categories"> </angular-slickgrid>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">annuler</button>
            <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
          </div>
        </ng-template>
      </div>
      <!-- SELECT CATEGORY POPUP END -->

      <!-- SELECT CATEGORY TYPE POPUP -->
      <div>
        <ng-template #content4 let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">Choissir categorie type</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <angular-slickgrid class="col-12" gridHeight="300" gridId="griduser" [columnDefinitions]="columnDefinitions4" (onAngularGridCreated)="angularGridReady4($event)" (sgOnSelectedRowsChanged)="handleSelectedRowsChanged4($event.detail.eventData, $event.detail.args)" [gridOptions]="gridOptions4" [dataset]="categories_types"> </angular-slickgrid>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">annuler</button>
            <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
          </div>
        </ng-template>
      </div>
      <!-- SELECT CATEGORY TYPE POPUP END -->

      <!-- SELECT SALES CHANNEL POPUP -->
      <div>
        <ng-template #content5 let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">Choissir canal de vente</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <angular-slickgrid class="col-12" gridHeight="300" gridId="griduser" [columnDefinitions]="columnDefinitions5" (onAngularGridCreated)="angularGridReady5($event)" (sgOnSelectedRowsChanged)="handleSelectedRowsChanged5($event.detail.eventData, $event.detail.args)" [gridOptions]="gridOptions5" [dataset]="sales_channels"> </angular-slickgrid>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">annuler</button>
            <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
          </div>
        </ng-template>
      </div>
      <!-- SELECT SALES CHANNEL POPUP END -->
    </div>
  </kt-portlet-body></kt-portlet
>
