
<kt-portlet>
    <kt-portlet-header [sticky]="true" [title]="'Pointages des Employés'" [class]="'card-head-lg'" [viewLoading$]="loading$">
        <ng-container ktPortletTools>
            <button type="button" (click)="goBack()" class="btn btn-secondary btn-sm mr-2">Annuller</button>
            <button type="button" (click)="reset()" class="btn btn-secondary btn-sm mr-2">Réinitialiser</button>
            <button type="button" (click)="onSubmitEmpTime()" class="btn btn-success btn-sm mr-2">Sauvgarder </button>


        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="example-preview">
            <form class="kt-form" [formGroup]="empForm">
                <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
                (close)="onAlertClose($event)">
                {{message}}
            </kt-alert>

                <div class="row">
                    
                    <div class="form-group col-3">
                        <label class="form-group">Date: *</label>
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-sm form-control-solid"  formControlName="calc_date" 
                                 placeholder="jj-mm-aaaa" name="calc_date" ngbDatepicker f
                                #calc_date="ngbDatepicker"   >
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="calc_date.toggle()"  (ngModelChange)= "getEmp()" type="button">
                                    <i class="flaticon-calendar-with-a-clock-time-tools"></i>
                                </button>
                            </div>
                            
                        </div>

                    </div>

                    
               
                    <div class="form-group col-2">
                        <label class="form-group">Equipe :</label>
                        <select
                            [className]="empForm.controls['emp_shift'].errors && (empForm.controls['emp_shift'].dirty || empForm.controls['emp_shift'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'"
                            formControlName="emp_shift" id="exampleSelects2" (change)="getEmp()">
                            <option value=""></option>
                            <option *ngFor="let elem of emp_shift" [value]="elem.code_value">
                                {{elem.code_value}} {{elem.code_cmmt}}</option>
                        </select>
                        <div *ngIf="empForm.controls['emp_shift'].errors && (empForm.controls['emp_shift'].dirty || empForm.controls['emp_shift'].touched)"
                            class="invalid-feedback">Ce Champs est obligatoire</div>

                    </div>
                    
                   
                    
                </div>


                <div class="row">
                    <angular-slickgrid
                    class="col-12"
                    gridHeight="500"
                    gridId="empGrid"
                    [columnDefinitions]="columnDefinitions18"
                    [gridOptions]="gridOptions18"
                    [dataset]="emps"
                    >
                    </angular-slickgrid>
                </div>
            </form>
          
        </div>
    </kt-portlet-body>
</kt-portlet>

