<kt-portlet>
    <kt-portlet-header [sticky]="true" [title]="'Ajouter un Status Stock'" [class]="'card-head-lg'">
        <ng-container ktPortletTools>
            <button type="button" (click)="goBack()" class="btn btn-secondary btn-sm mr-2">Annuller</button>
            <button type="button" (click)="reset()" class="btn btn-secondary btn-sm mr-2">Réinitialiser</button>
            <button type="button" (click)="onSubmit()" class="btn btn-success btn-sm mr-2">Sauvgarder </button>
        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="example-preview">
            <form class="kt-form" [formGroup]="statusForm">
                

                <div class="row">
                    <div class="form-group col-2">
                        <label class="form-group">Emplacement: *</label>
                    
                        <div class="input-group input-group-sm">

                            <input type="text" formControlName="ism_loc_start" (change)="onChangeCodeStart()" id="ism_loc_start"
                                [className]="statusForm.controls['ism_loc_start'].errors && (statusForm.controls['ism_loc_start'].dirty || statusForm.controls['ism_loc_start'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'"
                                aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text" (click)="openloc(contentloc,'ism_loc_start')">
                                    <i class="text-dark-50 flaticon2-search"></i> </span>
                            </div>
                            <div *ngIf="statusForm.controls['ism_loc_start'].errors && (statusForm.controls['ism_loc_start'].dirty || statusForm.controls['ism_loc_start'].touched)"
                                class="invalid-feedback">Ce Champs est obligatoire</div>
                        </div>
                    </div>
                    
                    <div class="form-group col-2">
                        <label class="form-group">Emplacement A: *</label>
                    
                        <div class="input-group input-group-sm">

                            <input type="text" formControlName="ism_loc_end" (change)="onChangeCodeEnd()" id="ism_loc_end"
                                [className]="statusForm.controls['ism_loc_end'].errors && (statusForm.controls['ism_loc_end'].dirty || statusForm.controls['ism_loc_end'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'"
                                aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text" (click)="openloc(contentloc,'ism_loc_end')">
                                    <i class="text-dark-50 flaticon2-search"></i> </span>
                            </div>
                            <div *ngIf="statusForm.controls['ism_loc_end'].errors && (statusForm.controls['ism_loc_end'].dirty || statusForm.controls['ism_loc_end'].touched)"
                                class="invalid-feedback">Ce Champs est obligatoire</div> 
                        </div>
                    </div>
                </div>
               
                <div class="form-group col-12 row">
                    <label class="col-2 col-form-label text-right"> Mouvements Interdits: </label>
                </div>


                <div class="row col-lg-12">
                    <button class="btn btn-primary btn-elevate col-lg-2" (click)="addNewItem()">Ajouter un
                        mouvement</button>
                </div>
                <br>
                <div class="row">
                    <angular-slickgrid class="col-12" gridHeight="300" gridId="plagemvGrid" [columnDefinitions]="mvcolumnDefinitions"
                    [gridOptions]="mvgridOptions" [dataset]="mvdataset" (onAngularGridCreated)="mvGridReady($event)">
                </angular-slickgrid>
                </div>

            </form>
        </div>

        <div>
            <ng-template #contentloc let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Choissir Emplacement </h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <angular-slickgrid class="col-12" gridHeight="300" gridId="griduser"
                            [columnDefinitions]="columnDefinitionsloc" (onAngularGridCreated)="angularGridReadyloc($event)"
                            (sgOnSelectedRowsChanged)="handleSelectedRowsChangedloc($event.detail.eventData, $event.detail.args)"
                            [gridOptions]="gridOptionsloc" [dataset]="dataloc">
                        </angular-slickgrid>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
                </div>
            </ng-template>
        </div>
        <div>
            <ng-template #content4 let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Choissir Status</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <angular-slickgrid class="col-12" gridHeight="300" gridId="griditem"
                            [columnDefinitions]="columnDefinitions4" (onAngularGridCreated)="angularGridReady4($event)"
                            (sgOnSelectedRowsChanged)="handleSelectedRowsChanged4($event.detail.eventData, $event.detail.args)"
                            [gridOptions]="gridOptions4" [dataset]="status">
                        </angular-slickgrid>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
                </div>
            </ng-template>
            <button hidden id="openItemsGrid" class="btn btn-primary" (click)="open4(content4)">Launch demo
                modal</button>

        </div>

        <div>
            <ng-template #content5 let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Choissir Status</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <angular-slickgrid class="col-12" gridHeight="300" gridId="griditem"
                            [columnDefinitions]="columnDefinitions4" (onAngularGridCreated)="angularGridReady4($event)"
                            (sgOnSelectedRowsChanged)="handleSelectedRowsChanged5($event.detail.eventData, $event.detail.args)"
                            [gridOptions]="gridOptions4" [dataset]="status">
                        </angular-slickgrid>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
                </div>
            </ng-template>
            <button hidden id="openItemsGrid5" class="btn btn-primary" (click)="open4(content5)">Launch demo
                modal</button>

        </div>
    </kt-portlet-body>
</kt-portlet>