<kt-portlet>
    <kt-portlet-header [sticky]="true" [title]="'ajouter spécification standard'" [class]="'card-head-lg'">
        <ng-container ktPortletTools>
            
            <button type="button" (click)="goBack()" class="btn btn-secondary btn-sm mr-2">Annuller</button>
            <button type="button" (click)="reset()" class="btn btn-secondary btn-sm mr-2">Réinitialiser</button>
            <button type="button" (click)="onSubmit()" class="btn btn-success btn-sm mr-2">Sauvgarder </button>

        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="example-preview">

            <form class="form" [formGroup]="specificationForm">
                <kt-alert *ngIf="isExist" type="warn" [showCloseButton]="true" [duration]="10000"
                    (close)="onAlertClose($event)">
                    Ce Code existe deja
                </kt-alert>
                <div class="row">
                    <div class="form-group col-2">
                        <label class="form-group">code  document: *</label>
                        <input type="text" (change)="onChangeCode()"
                        [className]="specificationForm.controls['doc_code'].errors && (specificationForm.controls['doc_code'].dirty || specificationForm.controls['doc_code'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'"
                        formControlName="doc_code">
                            <div *ngIf="specificationForm.controls['doc_code'].errors && (specificationForm.controls['doc_code'].dirty || specificationForm.controls['doc_code'].touched)"
                            class="invalid-feedback">Ce Champs est obligatoire</div>
                     </div>

                     <div class="form-group col-6">
                        <label class="form-group">description document:</label>
                        <input type="text"
                        [className]="specificationForm.controls['doc_desc'].errors && (specificationForm.controls['doc_desc'].dirty || specificationForm.controls['doc_desc'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'"
                        formControlName="doc_desc">
                    
                    </div>

                </div>

                <div class="row">
                    <div class="form-group col-2">
                        <label class="form-group">date de validité: *</label>
                            <div class="input-group input-group-sm">

                                <input class="form-control form-control-sm form-control-solid" formControlName="validity_date"
                                placeholder="jj-mm-aaaa" name="tr_rcp_date1" ngbDatepicker f
                                #tr_rcp_date1="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-abracadabra" (click)="tr_rcp_date1.toggle()" type="button">
                                    <i class="flaticon-calendar-with-a-clock-time-tools"></i>
                                </button>
                            </div>
                            </div>
                    </div>
                </div>

                


             

            </form>
            <br>
            <br>
            <br>
            <div class="row">
                <button type="button" (click)="addNewItem()" class="btn btn-success btn-sm mr-2 col-3">ajouter un élément </button>
            </div>
            <br>
            <br>
            <div class="row">
                <angular-slickgrid class="col-12" gridHeight="300" gridWidth="1300"
                            gridId="grid" 
                            [columnDefinitions]="columnDefinitions"
                            (onAngularGridCreated)="gridReady($event)"
                            [gridOptions]="gridOptions" 
                            [dataset]="details"
                            >
                </angular-slickgrid>
            </div>

           


            
    <!-- POPUP -->
    <div>
        <ng-template #contentPopup let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Remplir les données</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <form  [formGroup]="popupForm">
                     <div class="row" *ngIf="valueIsMinMax">
                        <div class="form-group col-2">
                            <label class="form-group">Min:</label>
                            <input type="number"
                            [className]="form-control"
                            formControlName="min">     
                         </div>
                      
                    </div> 
                    
                    <div class="row" *ngIf="valueIsMinMax">
                        <div class="form-group col-2">
                            <label class="form-group">Max:</label>
                            <input type="number"
                            [className]="form-control"
                            formControlName="max">     
                         </div> 
                    </div>

                    <div class="row" *ngIf="valueIsChar">
                        <div class="form-group col-2">
                            <label class="form-group">Caractère:</label>
                            <input type="text"
                            [className]="form-control"
                            formControlName="char">     
                         </div> 
                    </div>

                    
                    <div class="row" *ngIf="valueIsBool">
                        <div class="form-group col-2">
                            <label class="form-group">Booléen:</label>
                            <input type="checkbox" style="width: 2.5ex; height: 2.5ex"
                            [className]="form-control"
                            formControlName="bool">     
                         </div> 
                    </div>
                   
                </form> 
            </div>    
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
            <button type="button" id="btnClosePopup" class="btn btn-secondary" (click)="c('Close click')" hidden>Annuller</button>
            <button type="button" class="btn btn-primary" (click)="updateGridLine()">Ok</button>
        </div>
        </ng-template>
    </div>
    <!-- POPUP END -->

    <button
        hidden
        id="modalButton"
        class="btn btn-primary"
        (click)="openPopup(contentPopup)"
    ></button>

        </div>



    </kt-portlet-body>
</kt-portlet>