<kt-portlet>
    <kt-portlet-header [sticky]="true" [title]="'Modification BC '" [class]="'card-head-lg'">
        <ng-container ktPortletTools>
            <button type="button" (click)="goBack()" class="btn btn-secondary btn-sm mr-2">Annuller</button>
            <button type="button" (click)="reset()" class="btn btn-secondary btn-sm mr-2">Réinitialiser</button>
            <button type="button" (click)="onSubmit()" class="btn btn-success btn-sm mr-2">Sauvegarder </button>
        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="example-preview">

            <form class="kt-form" [formGroup]="poForm">
                <!--kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
                    (close)="onAlertClose($event)">
                    {{message}}
                </kt-alert-->
               
                    
                    <div class="row">
                        <div class="form-group col-2">
                            <label class="form-group">N° BC: *</label>
                            <input type="text" formControlName="po_nbr"  [(ngModel)]="poEdit.po_nbr" 
                            [className]="poForm.controls['po_nbr'].errors && (poForm.controls['po_nbr'].dirty || poForm.controls['po_nbr'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'" disabled>
                        <div *ngIf="poForm.controls['po_nbr'].errors && (poForm.controls['po_nbr'].dirty || poForm.controls['po_nbr'].touched) "
                            class="invalid-feedback">Ce Champs est obligatoire</div>

    
                         </div>
    
                        <div class="form-group col-2">
                            <label class="form-group">FOURNISSEUR :</label>
                            <div class="input-group input-group-sm">
    
                                <input type="text" class="form-control form-control-solid" formControlName="po_vend"  (change)="onChangeVend()"
                                    aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <span class="input-group-text" (click)="open2(content2)">
                                        <i class="text-dark-50 flaticon2-search"></i> </span>
                                </div>
                            </div>
    
                        </div>
                        <div class="form-group col-2">
                            <label class="form-group">Numero de demande:</label>
                            <div class="input-group input-group-sm">
    
                                <input type="text" class="form-control form-control-solid"  formControlName="po_req_id"
                                    aria-describedby="basic-addon2" (change)="onChangeReqNbr()">
                                <div class="input-group-append">
                                    <span class="input-group-text" (click)="open5(content5)">
                                        <i class="text-dark-50 flaticon2-search"></i> </span>
                                </div>
                            </div>
    
                        </div>
                        <div class="form-group col-2">
                            <label class="form-group">Date de creation:</label>
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-sm form-control-solid"  formControlName="po_ord_date" (change)="changeRateCurr()"
                                     placeholder="jj-mm-aaaa" name="po_ord_date" ngbDatepicker f
                                    #po_ord_date="ngbDatepicker"  (ngModelChange)= "changeRateCurr()" >
                                <div class="input-group-append">
                                    <button class="btn btn-primary" (click)="po_ord_date.toggle()"  type="button">
                                        <i class="flaticon-calendar-with-a-clock-time-tools"></i>
                                    </button>
                                </div>
                                
                            </div>
    
    
                        </div>
                        <div class="form-group col-2">
                            <label class="form-group">Date échéance:</label>
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-sm form-control-solid" formControlName="po_due_date"
                                     placeholder="jj-mm-aaaa" name="dp1" ngbDatepicker
                                    #d1="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" (click)="d1.toggle()" type="button">
                                        <i class="flaticon-calendar-with-a-clock-time-tools"></i>
                                    </button>
                                </div>
    
                            </div>
                        
    
                        </div>
                        <div class="form-group col-2">
                            <label class="form-group">Taxable:</label>
                            <div class="input-group input-group-sm">
    
                                <span class="switch switch-icon">
                                    <label>
                                        <input type="checkbox" class="form-control form-control-sm form-control-solid" formControlName="po_taxable" (change)="onChangeTAX()" />
                                        <span></span>
                                    </label>
                                </span>
                            </div>
    
                        </div>
                        
                        
                    </div>
                    <div class="row">
                        <div class="form-group col-2">
                            <label class="form-group">Taux de tax:</label>
                            <div class="input-group input-group-sm">
    
                                <input type="text" class="form-control form-control-solid" formControlName="po_taxc" (change)="changeTax()"
                                    aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <span class="input-group-text" (click)="opentax(contenttax)">
                                        <i class="text-dark-50 flaticon2-search"></i> </span>
                                </div>
                            </div>
    
                        </div>
                        <div class="form-group col-2">
                            <label class="form-group">Devise:</label>
                            <div class="input-group input-group-sm">
    
                                <input type="text" class="form-control form-control-solid"  formControlName="po_curr" (change)="changeCurr()"
                                    aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <span class="input-group-text" (click)="opencurr(contentcurr)">
                                        <i class="text-dark-50 flaticon2-search"></i> </span>
                                </div>
                            </div>
    
                        </div>
                        <div class="form-group col-2">
                            <label class="form-group">Taux de change:</label>
                            <div class="input-group input-group-sm">
    
                                <input type="text" class="form-control form-control-solid" formControlName="po_ex_rate"
                                    aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="text-dark-50 flaticon2-search"></i> </span>
                                </div>
                            </div>
                        </div>
    
                        <div class="form-group col-2">
                            <label class="form-group">Taux de change:</label>
                            <div class="input-group input-group-sm">
    
                                <input type="text" class="form-control form-control-solid" formControlName="po_ex_rate2"
                                    aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="text-dark-50 flaticon2-search"></i> </span>
                                </div>
                            </div>
    
                        </div>
                        <div class="form-group col-2">
                            <label class="form-group">Condition de règlement :</label>
                            <select
                                [className]="poForm.controls['po_cr_terms'].errors && (poForm.controls['po_cr_terms'].dirty || poForm.controls['po_cr_terms'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'"
                                formControlName="po_cr_terms" id="exampleSelects2" (change)="calculatetot()" >
                                <option value=""></option>
                                <option *ngFor="let elem of po_cr_terms" [value]="elem.code_value">
                                    {{elem.code_value}} {{elem.code_cmmt}}</option>
                            </select>
                            <div *ngIf="poForm.controls['po_cr_terms'].errors && (poForm.controls['po_cr_terms'].dirty || poForm.controls['po_cr_terms'].touched)"
                                class="invalid-feedback">Ce Champs est obligatoire</div>
    
                        </div>
                        <div class="form-group col-2">
                            <label class="form-group">Acheteur:</label>
                            <div class="input-group input-group-sm">
    
                                <input type="text" class="form-control form-control-solid" formControlName="po_buyer"
                                    aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <span class="input-group-text" (click)="open3(content3)">
                                        <i class="text-dark-50 flaticon2-search"></i> </span>
                                </div>
                            </div>
    
                        </div>
                       
                      
    
                    </div>
                    <div class="row">
                        <div class="form-group col-10">
                            <label class="form-group">Observation:</label>
                            <textarea class="form-control form-control-sm form-control-solid" formControlName="po_rmks"
                                rows="2"></textarea>
                        </div>
                        <div class="form-group col-2">
                            <label class="form-group">Imprimer:</label>
                            <div class="input-group input-group-sm">
    
                                <span class="switch switch-icon">
                                    <label>
                                        <input type="checkbox" class="form-control form-control-sm form-control-solid" formControlName="print"/>
                                        <span></span>
                                    </label>
                                </span>
                            </div>
    
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn btn-sm btn-primary btn-elevate col-lg-4" (click)="addNewItem()">Ajouter un
                            Article</button>
                    </div>
                    <div class="row">
                        <angular-slickgrid class="col-12" gridHeight="300" gridId="mGrid"
                            [columnDefinitions]="columnDefinitions" [gridOptions]="gridOptions" [dataset]="dataset"
                            (onAngularGridCreated)="gridReady($event)">
                        </angular-slickgrid>
                    </div>
                
               
            </form>
            <form class="form" [formGroup]="totForm">
                <h3 class="card-title text-center" col-6>Totaux:                </h3>
                <div class row col-6>
                   
                        
                        <div class="form-group-sm row">
                            <label class="col-9 col-form-label  text-right ">Total HT</label>
                            <div class="col-2">
                                <input class="form-control" type="number"  style="text-align: right;" formControlName="tht">
                            </div>
                        </div>
                    
                        <div class="form-group-sm row">
                            <label class="col-9 col-form-label  text-right ">TVA</label>
                            <div class="col-2">
                                <input class="form-control" type="number" style="text-align: right;" formControlName="tva">
                            </div>
                        </div>
                        <div class="form-group-sm row">
                            <label class="col-9 col-form-label  text-right ">Timbre</label>
                            <div class="col-2">
                                <input class="form-control" type="number" style="text-align: right;" formControlName="timbre">
                            </div>
                        </div>
                        <div class="form-group-sm row">
                            <label class="col-9 col-form-label  text-right ">TTC</label>
                            <div class="col-2">
                                <input class="form-control" type="number" style="text-align: right;" formControlName="ttc">
                            </div>
                        </div>
                    
                </div>            
            </form>
        </div>

        
        
        
        <div>
            <ng-template #content4 let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Choissir l'article</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <angular-slickgrid class="col-12" gridHeight="300" gridId="griditem"
                            [columnDefinitions]="columnDefinitions4" (onAngularGridCreated)="angularGridReady4($event)"
                            (sgOnSelectedRowsChanged)="handleSelectedRowsChanged4($event.detail.eventData, $event.detail.args)"
                            [gridOptions]="gridOptions4" [dataset]="items">
                        </angular-slickgrid>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
                </div>
            </ng-template>
            <button hidden id="openItemsGrid" class="btn btn-primary" (click)="open4(content4)">Launch demo
                modal</button>

        </div>
    </kt-portlet-body>
</kt-portlet>
