<kt-portlet>
    <kt-portlet-header [sticky]="true" [title]="'Ajouter un code'" [class]="'card-head-lg'" [viewLoading$]="loading$">
        <ng-container ktPortletTools>
            <button type="button" (click)="goBack()" class="btn btn-secondary btn-sm mr-2">Annuller</button>
            <button type="button" (click)="reset()" class="btn btn-secondary btn-sm mr-2">Réinitialiser</button>
            <button type="button" (click)="onSubmit()" class="btn btn-success btn-sm mr-2">Sauvgarder </button>



        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="example-preview">

            <form class="form" [formGroup]="bomForm">

                <kt-alert *ngIf="isExist" type="warn" [showCloseButton]="true" [duration]="10000"
                                    (close)="onAlertClose($event)">
                                    Ce Code existe deja
                </kt-alert>


                                    <div class="row">
                                        <div class="form-group col-2">
                                            <label class="form-group">Code: *</label>
                                            <input type="text" formControlName="bom_parent"  (change)="onChangeCode()"
                                                [className]="bomForm.controls['bom_parent'].errors && (bomForm.controls['bom_parent'].dirty || bomForm.controls['bom_parent'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'">
                                            <div *ngIf="bomForm.controls['bom_parent'].errors && (bomForm.controls['bom_parent'].dirty || bomForm.controls['bom_parent'].touched) "
                                                class="invalid-feedback">Ce Champs est obligatoire</div>
                    
                                        </div>
                                    </div>
                                
                                    <div class="row">
                                        <div class="form-group col-3">
                                            <label class="form-group">Description: *</label>
                                            <input type="text" formControlName="bom_desc" 
                                                [className]="bomForm.controls['bom_desc'].errors && (bomForm.controls['bom_desc'].dirty || bomForm.controls['bom_desc'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'">
                                            <div *ngIf="bomForm.controls['bom_desc'].errors && (bomForm.controls['bom_desc'].dirty || bomForm.controls['bom_desc'].touched) "
                                                class="invalid-feedback">Ce Champs est obligatoire</div>
                                        </div>
                                        
                                        
                                        <div class="form-group col-2">
                                              <label class="form-group">Type de produit:</label>
                                              <select class="form-control form-control-sm form-control-solid" formControlName="product_type" id="id_prod_type">
                                                <option value=""></option>
                                                <option *ngFor="let elem of product_types" [value]="elem.code_value">
                                                  {{ elem.code_cmmt }}
                                                </option>
                                              </select>
                                        </div>
                                        <div class="form-group col-2">
                                            <label class="form-group">Couleur de produit:</label>
                                            <select class="form-control form-control-sm form-control-solid" formControlName="product_color" id="id_prod_color">
                                              <option value=""></option>
                                              <option *ngFor="let elem of product_colors" [value]="elem.code_value">
                                                {{ elem.code_cmmt }}
                                              </option>
                                            </select>
                                          </div>
                                            
                                      
                                    </div>
                                    
                                        
                                    
                                    <div class="row">
                                        <div class="form-group col-2">
                                            <label class="form-group">Taille Lot: </label>
                                            <input type="number" formControlName="bom_batch" class='form-control form-control-sm form-control-solid' >
                                        </div>
                                        <div class="form-group col-2">
                                            <label class="form-group ">Unite de mesure:</label>
    
                                            <div class="input-group input-group-sm">
    
                                                <input type="text" formControlName="bom_batch_um"
                                                    [className]="bomForm.controls['bom_batch_um'].errors && (bomForm.controls['bom_batch_um'].dirty || bomForm.controls['bom_batch_um'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'"
                                                    (change)="changeUm()" aria-describedby="basic-addon2">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" (click)="open3(content,'bom_batch_um')">
                                                        <i class="text-dark-50 flaticon2-search"></i> </span>
                                                </div>
                                                <div *ngIf="bomForm.controls['bom_batch_um'].errors && (bomForm.controls['bom_batch_um'].dirty || bomForm.controls['bom_batch_um'].touched)"
                                                    class="invalid-feedback">Ce Champs est obligatoire</div>
                                            </div>
    
                                        </div>
                                    </div>
                                    
                                    
                                <div class="row">
                                    <div class="form-group col-2">
                                        <label class="form-group">Formule:</label>
                                        <div class="input-group input-group-sm">
                
                                             <span class="switch switch-icon">
                                                <label>
                                                    <input type="checkbox" class="form-control form-control-sm form-control-solid" formControlName="bom_formula" />
                                                    <span></span>
                                                </label>
                                            </span>
                                        </div>
                
                                    </div>
                                </div>
                                <div class="row">
                                    
                                    <div class="form-group col-7">
                                    
                                            <label class="form-group">Commentaire:</label>
                                            <textarea class="form-control form-control-sm form-control-solid" formControlName="bom_rmks"
                                                rows="2"></textarea>
                                       
                                    </div>    


                                </div>
                            </form>

                               
                        </div>


                    </kt-portlet-body>
                </kt-portlet>
                <div>
                    <ng-template #content let-c="close" let-d="dismiss">
                        <div class="modal-header">
                            <h4 class="modal-title">Choissir </h4>
                            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <angular-slickgrid class="col-12" gridHeight="300" gridId="griduser"
                                    [columnDefinitions]="columnDefinitions3" (onAngularGridCreated)="angularGridReady3($event)"
                                    (sgOnSelectedRowsChanged)="handleSelectedRowsChanged3($event.detail.eventData, $event.detail.args)"
                                    [gridOptions]="gridOptions3" [dataset]="data">
                                </angular-slickgrid>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                            <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
                        </div>
                    </ng-template>
                </div>
                
               