<kt-portlet>
  <kt-portlet-body [class]="'kt-portlet__body--fit'">
   

    <!-- EVENT CATEGORIES -->
    <div class="row">
      <div class="col-xl-6">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
          <kt-portlet-header [title]="'Nombre d événements par type d événement '">
          </kt-portlet-header>
          <kt-portlet-body>
            <div id="chartdivN1" style="width: 100%; height: 350px"></div>
          </kt-portlet-body>
        </kt-portlet>
      </div>

      <div class="col-xl-6">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
          <kt-portlet-header [title]="'Pourcentage du type d événement '">
          </kt-portlet-header>
          <kt-portlet-body>
            <div id="chartdivN5" style="width: 100%; height: 350px"></div>
          </kt-portlet-body>
        </kt-portlet>
      </div>
    </div>
    <!-- EVENT CATEGORIES END -->

    <!-- ACTIONS -->
    <div class="row">
      <div class="col-xl-6">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
          <kt-portlet-header [title]="'Nombre d actions '">
          </kt-portlet-header>
          <kt-portlet-body>
            <!-- <div id="chartdiv10" style="width: 100%; height: 350px"></div> -->
            <div id="chartdivN2" style="width: 100%; height: 350px"></div>
          </kt-portlet-body>
        </kt-portlet>
      </div>

      <div class="col-xl-6">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
          <kt-portlet-header [title]="'Pourcentage d action  '">
          </kt-portlet-header>
          <kt-portlet-body>
            <div id="chartdivN2Pie" style="width: 100%; height: 350px"></div>
          </kt-portlet-body>
        </kt-portlet>
      </div> 

    </div>
    <!-- ACTIONS END -->

    <!-- METHODS -->
    <div class="row">
      <div class="col-xl-6">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
          <kt-portlet-header [title]="'Nombre de méthodes '">
          </kt-portlet-header>
          <kt-portlet-body>
            <div id="chartdivN3" style="width: 100%; height: 350px"></div>
          </kt-portlet-body>
        </kt-portlet>
      </div>

      <div class="col-xl-6">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
          <kt-portlet-header [title]="'Pourcentage de chaque résultatméthode  '">
          </kt-portlet-header>
          <kt-portlet-body>
            <div id="chartdivN3Pie" style="width: 100%; height: 350px"></div>
          </kt-portlet-body>
        </kt-portlet>
      </div> 
      
    </div>
    <!-- METHODS END-->

    <!-- EVENT RESULTS -->
    <div class="row">
      <div class="col-xl-6">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
          <kt-portlet-header [title]="'Nombre de résultats d événement '">
          </kt-portlet-header>
          <kt-portlet-body>
            <div id="chartdivN4" style="width: 100%; height: 350px"></div>
          </kt-portlet-body>
        </kt-portlet>
      </div>
      <div class="col-xl-6">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
          <kt-portlet-header [title]="'Pourcentage de chaque résultat  '">
          </kt-portlet-header>
          <kt-portlet-body>
            <div id="chartdivN4Pie" style="width: 100%; height: 350px"></div>
          </kt-portlet-body>
        </kt-portlet>
      </div> 
    </div>
    <!-- EVENT RESULTS END  -->

    <!-- RATE -->
    <div class="row">
      <div class="col-xl-6">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
          <kt-portlet-header [title]="'Taux de satisfaction par jour'">
          </kt-portlet-header>
          <kt-portlet-body>
            <div id="chartdivN6" style="width: 100%; height: 350px"></div>
          </kt-portlet-body>
        </kt-portlet>
      </div>
    </div>
    <!-- RATE END -->


  </kt-portlet-body>
</kt-portlet>
