<div>
  <kt-portlet-body>
    <div class="modal-body" style="background-color: #f5f5dc">
      <!-- <button
            style="background-color: #9e110d"
            class="btn btn-primary fs-2 w-100 mt-2 mb-2"
            (click)="addNewItemInventory()"
          >
            Ajouter un Article
          </button> -->

      <div class="row">
        <angular-slickgrid
          class="col-12"
          gridHeight="500"
          gridId="mGrid"
          [columnDefinitions]="columnDefinitions"
          [gridOptions]="gridOptions"
          [dataset]="dataset"
          (onAngularGridCreated)="gridReady($event)"
          (sgOnSelectedRowsChanged)="
            handleSelectedRowsChanged(
              $event.detail.eventData,
              $event.detail.args
            )
          "
        >
        </angular-slickgrid>
      </div>
    </div>

    <div
      class="card-footer d-flex justify-content-end py-6 px-9"
      style="background-color: #f5f5dc"
    >
      <button
        style="background-color: #9e110d"
        class="btn btn-primary px-12"
        (click)="setOpenInventory2()"
      >
        Confirmer votre inventaire
      </button>
    </div>
  </kt-portlet-body>
</div>
