<kt-portlet>
    <kt-portlet-header [sticky]="true" [title]="'La liste des Nouvaux employés'" [class]="'card-head-lg'">
        <ng-container ktPortletTools>
           
        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>

        <div class="example-preview">
            <form class="kt-form" [formGroup]="repForm">
                <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
                (close)="onAlertClose($event)">
                {{message}}
                </kt-alert>
            
            <div class="row">
                <angular-slickgrid class="col-12" gridId="gridCode" [columnDefinitions]="columnDefinitions"
                (onAngularGridCreated)="angularGridReady($event)"
                    [gridOptions]="gridOptions" [dataset]="dataset">
                </angular-slickgrid>
            </div>
            
        </form> 
        </div>

    </kt-portlet-body>
</kt-portlet>


