<kt-portlet>
  <kt-portlet-header [sticky]="true" [title]="'Chargement Des Vans (Scan) '" [class]="'card-head-lg'" [viewLoading$]="loading$">
    <ng-container ktPortletTools>
      <button type="button" (click)="onSubmit()" class="btn btn-success btn-sm mr-2">sauvegarder</button>
      <button type="button" (click)="onSaveCharge(content4, content5, content6)" class="btn btn-danger btn-sm mr-2">Ferme Chargement</button>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>
    <div class="example-preview">
      <div>
        {{ time | async }}
      </div>

      <!-- FORM -->
      <div>
        <form class="form" [formGroup]="chargeForm">
          <div class="row">
            <div class="form-group col-4">
              <label class="form-group">Demande de chargement:</label>
              <div class="input-group input-group-sm">
                <input type="text" class="cab" id="load_request_code" formControlName="load_request_code" (change)="onScanLoadRequest(content3,content7)" aria-describedby="basic-addon2" />
              </div>
            </div>

            <div class="form-group col-2">
              <label class="form-group">Imprimer:</label>
              <div class="input-group input-group-sm">
                <span class="switch switch-icon">
                  <label>
                    <input type="checkbox" class="form-control form-control-sm form-control-solid" formControlName="print" />
                    <span></span>
                  </label>
                </span>
              </div>
            </div>

            <div class="form-group col-6">
              <h5>
                Demande de chargement sélectionnée : <span class="text-primary">{{ load_request_code }}</span>
              </h5>
              <h5>
                Role : <span class="text-primary">{{ role_code }}</span>
              </h5>
              <h5>
                Vendeur :<span class="text-primary">{{ username }}</span>
              </h5>
            </div>
          </div>
          <br />
          <h5>Liste de palettes</h5>

          <div class="row">
            <div class="form-group col-6">
              <label class="form-group">Palette:</label>
              <div class="input-group input-group-sm">
                <input type="text" class="cab" id="pal" formControlName="pal" (change)="onScanPal(content1, content2,content8)" aria-describedby="basic-addon2" />
              </div>
            </div>
            <div class="col-2">
              <a (click)="openUnload(contentUnload)" class="btn btn-primary btn-sm font-weight-bolder">
                <span class="svg-icon svg-icon-md">
                  <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Design/Flatten.svg-->
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect x="0" y="0" width="24" height="24"></rect>
                      <circle fill="#000000" cx="9" cy="15" r="6"></circle>
                      <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3"></path>
                    </g>
                  </svg>
                  <!--end::Svg Icon--> </span
                >Retour Chariot</a
              >
            </div>
          </div>
        </form>
        <br />
        <angular-slickgrid gridId="gridS" [columnDefinitions]="columnDefinitions" (onAngularGridCreated)="angularGridReady($event)" [gridOptions]="gridOptions" [dataset]="dataset"> </angular-slickgrid>
      </div>
      <!-- FORM END -->
    </div>

    <!-- MODAL -->
    <div>
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Sélectionnez les lots</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <angular-slickgrid class="col-12" gridHeight="300" gridId="gridS" [columnDefinitions]="columnDefinitions" (onAngularGridCreated)="angularGridReady($event)" (sgOnSelectedRowsChanged)="onSelectedRowsChanged($event.detail.eventData, $event.detail.args)" [gridOptions]="gridOptions" [dataset]="dataset"> </angular-slickgrid>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
          <!-- <button type="button" class="btn btn-primary" (click)="onAddProductLine()">Add Line</button> -->
        </div>
      </ng-template>
    </div>
    <!-- MODAL END -->
  </kt-portlet-body>
  <div>
    <ng-template #content2 let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">une erreur s'est produite</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>Scannez une demande de chargement et réessayez</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
        <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
      </div>
    </ng-template>
  </div>
  <div>
    <ng-template #content1 let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">une erreur s'est produite</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>Cette palette a été déjà scannée</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
        <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
      </div>
    </ng-template>
  </div>
  <div>
    <ng-template #content3 let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Une erreur s'est produite</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>Cette demande de chargement n'existe pas</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
        <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
      </div>
    </ng-template>
  </div>
  <div>
    <ng-template #content4 let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Une erreur s'est produite</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>Cette demande de chargement n'existe pas</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
        <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
      </div>
    </ng-template>
  </div>
  <div>
    <ng-template #content5 let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Fermer Demande</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <span>Voulez vous vraiment fermer cette demande</span>
        <div class="row">
          <angular-slickgrid class="col-12" gridHeight="300" gridId="gridSs" [columnDefinitions]="columnDefinitionsdif" (onAngularGridCreated)="angularGridReadydif($event)"  [gridOptions]="gridOptionsdif" [dataset]="datasetdif"> </angular-slickgrid>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Non</button>
        <button type="button" class="btn btn-primary" (click)="confirmPrinting()">Oui</button>
      </div>
    </ng-template>
  </div>
  <div>
    <ng-template #content6 let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Une erreur s'est produite</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>Cette demande de chargement n'existe pas</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
        <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
      </div>
    </ng-template>
  </div>
  <div>
    <ng-template #content7 let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Une erreur s'est produite</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>Demande déja Traitée ou bien n'est pas validée</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
        <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
      </div>
    </ng-template>
  </div>
  

  <div>
    <ng-template #contentUnload let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Retour Chariot</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="example-preview2">

          <form class="form" [formGroup]="unloadForm">
            <div class="row">
            
              <div class="form-group col-6">
                <label class="form-group">Palette:</label>
                <div class="input-group input-group-sm">
                  <input type="text" class="cab" id="palu" formControlName="palu" (change)="onScanPalU(content1, content2,content8)" aria-describedby="basic-addon2" />
                </div>
              </div>
            </div>
            <div class="row">
              <angular-slickgrid gridId="gridSun" gridHeight="300" [columnDefinitions]="columnDefinitionsun" (onAngularGridCreated)="angularGridReadyun($event)" [gridOptions]="gridOptionsun" [dataset]="datasetun"> </angular-slickgrid>
  
            </div>
            
          </form>
        </div>

        </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-primary"  (click)="onUnload()">sauvegarder</button>
      </div>
    </ng-template>
  </div>
  <div>
    <ng-template #content8 let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">une erreur s'est produite</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>Code a Bare Erroné réessayez</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
        <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
      </div>
    </ng-template>
  </div>
</kt-portlet>
