<kt-portlet>
  <kt-portlet-header [sticky]="true" [title]="'Chargement Des Vans (Scan) '" [class]="'card-head-lg'" [viewLoading$]="loading$">
    <ng-container ktPortletTools>
      <button type="button" (click)="onSubmit()" class="btn btn-success btn-sm mr-2">Sauvgarder</button>
      <button type="button" (click)="onSaveCharge(content4, content5, content6)" class="btn btn-danger btn-sm mr-2">Ferme Chargement</button>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>
    <div class="example-preview">
      <div>
        {{ time | async }}
      </div>

      <!-- FORM -->
      <div>
        <form class="form" [formGroup]="chargeForm">
          <div class="row">
            <div class="form-group col-4">
              <label class="form-group">Demande de chargement:</label>
              <div class="input-group input-group-sm">
                <input type="text" class="cab" id="load_request_code" formControlName="load_request_code" (change)="onScanLoadRequest(content3)" aria-describedby="basic-addon2" />
              </div>
            </div>

            <div class="form-group col-2">
              <label class="form-group">Imprimer:</label>
              <div class="input-group input-group-sm">
                <span class="switch switch-icon">
                  <label>
                    <input type="checkbox" class="form-control form-control-sm form-control-solid" formControlName="print" />
                    <span></span>
                  </label>
                </span>
              </div>
            </div>

            <div class="form-group col-6">
              <h5>
                Demande de chargement sélectionnée : <span class="text-primary">{{ load_request_code }}</span>
              </h5>
              <h5>
                Role : <span class="text-primary">{{ role_code }}</span>
              </h5>
              <h5>
                Vendeur :<span class="text-primary">{{ username }}</span>
              </h5>
            </div>
          </div>
          <br />
          <h5>Liste de palettes</h5>

          <div class="row">
            <div class="form-group col-6">
              <label class="form-group">Palette:</label>
              <div class="input-group input-group-sm">
                <input type="text" class="cab" id="pal" formControlName="pal" (change)="onScanPal(content1, content2)" aria-describedby="basic-addon2" />
              </div>
            </div>
          </div>
        </form>
        <br />
        <angular-slickgrid gridId="gridS" [columnDefinitions]="columnDefinitions" (onAngularGridCreated)="angularGridReady($event)" [gridOptions]="gridOptions" [dataset]="dataset"> </angular-slickgrid>
      </div>
      <!-- FORM END -->
    </div>

    <!-- MODAL -->
    <div>
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Sélectionnez les lots</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <angular-slickgrid class="col-12" gridHeight="300" gridId="gridS" [columnDefinitions]="columnDefinitions" (onAngularGridCreated)="angularGridReady($event)" (sgOnSelectedRowsChanged)="onSelectedRowsChanged($event.detail.eventData, $event.detail.args)" [gridOptions]="gridOptions" [dataset]="dataset"> </angular-slickgrid>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
          <!-- <button type="button" class="btn btn-primary" (click)="onAddProductLine()">Add Line</button> -->
        </div>
      </ng-template>
    </div>
    <!-- MODAL END -->
  </kt-portlet-body>
  <div>
    <ng-template #content2 let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">une erreur s'est produite</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>Scannez une demande de chargement et réessayez</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
        <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
      </div>
    </ng-template>
  </div>
  <div>
    <ng-template #content1 let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">une erreur s'est produite</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>Cette palette a été déjà scannée</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
        <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
      </div>
    </ng-template>
  </div>
  <div>
    <ng-template #content3 let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Une erreur s'est produite</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>Cette demande de chargement n'existe pas</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
        <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
      </div>
    </ng-template>
  </div>
  <div>
    <ng-template #content4 let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Une erreur s'est produite</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>Veuillez scanner une demande de chargement d'abord</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
        <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
      </div>
    </ng-template>
  </div>
  <div>
    <ng-template #content5 let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Confirmation</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>Etes vous sur de vouloir fermer cette demande de chargement</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Non</button>
        <button type="button" class="btn btn-primary" (click)="confirmPrinting()">Oui</button>
      </div>
    </ng-template>
  </div>
  <div>
    <ng-template #content6 let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">une erreur s'est produite</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>Cette demande de chargement n'existe pas</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
        <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
      </div>
    </ng-template>
  </div>
</kt-portlet>
