
<kt-portlet class="main-container">
    <kt-portlet-header [sticky]="true" [title]="'Liste des catégories Pos'" [class]="'card-head-lg main-container'" [viewLoading$]="loading$" style="background-color:beige">
        <ng-container ktPortletTools>
            <button type="button" (click)="goBack()" class="btn btn-secondary btn-sm mr-2">Annuller</button>
            <button type="button" (click)="direct()" class="btn btn-secondary btn-sm mr-2">Ajouter une catégorie</button>
            <button type="button" (click)="onSubmit()" class="btn btn-abracadabra btn-sm mr-2">sauvegarder </button>
        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body class="main-container">
        <div class="example-preview">
            <div>
                
                <div class="row">
                    <angular-slickgrid class="col-12" 
                        gridHeight="500" 
                        gridWidth="900"
                        gridId="gridS" 
                        [columnDefinitions]="columnDefinitions"
                        (onAngularGridCreated)="angularGridReady($event)"
                        (sgOnSelectedRowsChanged)="onSelectedRowsChanged($event.detail.eventData, $event.detail.args)"
                        [gridOptions]="gridOptions" 
                        [dataset]="dataset">
                    </angular-slickgrid>
                </div>
            </div>

        </div>
    </kt-portlet-body>
