/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-iconkamel {
    width: 1em;
    height: 1em;
  }
  
  .svg-iconkamel path,
  .svg-iconkamel polygon,
  .svg-iconkamel rect {
    fill: #4691f6;
  }
  
  .svg-iconkamel circle {
    stroke: #4691f6;
    stroke-width: 1;
  }