<kt-portlet>
    <kt-portlet-header [sticky]="true" [title]="'Créer une demande de chargement'" [class]="'card-head-lg'" [viewLoading$]="loading$">
        <ng-container ktPortletTools>
            <button type="button" (click)="onSubmit()" class="btn btn-success btn-sm mr-2">Sauvgarder </button>



            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-sm" id="dropdownBasic1" ngbDropdownToggle><i
                        class="icon-2x text-dark-50 flaticon-more-v2"></i></button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item">Sauvgarder et quitter</button>

                </div>
            </div>

        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>

        <div class="example-preview">
            
            <!-- *************** FORM ******************* -->
            
                <div>
                    <form class="form" [formGroup]="validationForm">
                        <div class="row ">
                            <div class=" form-group col-3">
                                <label class="form-group">Role:</label>
                                <select 
                                (change)="onSelectRole($event.target.value)"
                                name="role_code"
                                id="role_code"
                                formControlName="role_code"
                                class="form-control form-control-sm form-control-solid">
                                <option value=""></option>
                                <option *ngFor="let elem of roles" [value]="elem.role_code">
                                    {{elem.role_code}} {{elem.role_name}}</option>
                                
                                </select> 
                            </div>  

                            <div class="form-group col-2">
                                <label class="form-group">Imprimer:</label>
                                <div class="input-group input-group-sm">
                                  <span class="switch switch-icon">
                                    <label>
                                      <input type="checkbox" class="form-control form-control-sm form-control-solid" formControlName="print" />
                                      <span></span>
                                    </label>
                                  </span>
                                </div>
                            </div>
   
                        </div>

                    
                        <br>
                        
                    </form>
                </div>
            
            <br>
            <span>Liste pages de produits</span>
            <br><br>
     
        </div>

        <div class="row" *ngFor="let productPage of loadRequestData">
            <div class="card card-custom">

                <!--begin::Header-->
                <div class="card-header border-0 py-5 bg-success text-white">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label font-weight-bolder text-dark">Page Produit : {{productPage.description}}  </span>
                    </h3>
                    
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body py-0">
                    <!--begin::Table-->
                    <div class="table-responsive">
                        <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_1">
                            <thead>
                                <tr class="text-left">

                                    <th class="pr-0" style="width: 50px"></th>
                                    <th class="pr-0" style="width: 150px">Code produit</th>
                                    <th class="pr-0" style="width: 350px">Designation</th>
                                    <th style="min-width: 200px">QTE stockée</th>
                                    <th style="min-width: 150px">QTE demandée</th>
                                    <th style="min-width: 150px">QTE validée</th>
                                    <th style="min-width: 150px">Prix</th>
                                    <!-- <th class="pr-0 text-right" style="min-width: 150px">action</th> -->
                                </tr>
                            </thead>
                            <tbody *ngFor="let product of productPage.products">
                                <tr>
                                    <td class="pl-0">
                                        <label class="checkbox checkbox-lg checkbox-inline">
                                            <input type="checkbox"  ng-checked="product.qt_request==0">
                                            <span></span>
                                        </label>
                                    </td>
                                    <td class="pr-0">
                                        <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">{{product.product_code}}</a>
                                    </td>
                                    <td class="pr-0">
                                        <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">{{product.pt_desc1}}</a>
                                    </td>
                                    <td class="pl-0">
                                        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{product.qt_stored}} </span>
                                    </td>
                                    <td>
                                        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{product.qt_request}} </span>
                                    </td>
                                    <td>
                                        <input type="number" max="50" (change)="onInputChanged(productPage.page_code,product.product_code,$event.target.value)" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg" value="{{product.qt_validated}}">
                                    </td>
                                    <td>
                                        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{product.pt_price}} DA</span>
                                    </td>
                                </tr>  
                            </tbody>
                        </table>
                    </div>
                    <!--end::Table-->
                </div>
                <!--end::Body-->
                
            </div>
            <br><br>
        </div>

  </kt-portlet-body>
</kt-portlet>