<kt-portlet>
    <kt-portlet-header [sticky]="true" [title]="'La liste des Demandes Achat'" [class]="'card-head-lg'">
       
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="example-preview">
            <div class="row">
                <angular-slickgrid class="col-12" gridId="gridProfil" [columnDefinitions]="columnDefinitions"
                    [gridOptions]="gridOptions" [dataset]="dataset"
                    (onAngularGridCreated)="angularGridReady($event)">
                </angular-slickgrid>
            </div>
            
        </div>

        <div>
            <ng-template #content let-c="close"   let-d="dismiss" aria-hidden="true">
              <div class="modal-header"  aria-hidden="true" >
                <h4 class="modal-title">Suppression DA</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <span>Voulez vous Supprimer La Demande {{idreq}}</span>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="c('Close click')" >Non</button>
                <button type="button" class="btn btn-primary" (click)="deleteDA()">OUI</button>
              </div>
            </ng-template>
            <button hidden id="deleteDAGrid" class="btn btn-primary" (click)="open(content)">Launch demo
                modal</button>
          </div>
        
    </kt-portlet-body>
</kt-portlet>
 
