<kt-portlet>
    <kt-portlet-header [sticky]="true" [title]="'Ajouter Formation'" [class]="'card-head-lg'" [viewLoading$]="loading$">
        <ng-container ktPortletTools>
            <button (click)="goBack()" type="button" class="btn btn-secondary btn-sm mr-2">Annuller</button>
            <button (click)="reset()" type="button" class="btn btn-secondary btn-sm mr-2">Réinitialiser</button>
            <button (click)="onSubmit()" type="button" class="btn btn-success btn-sm mr-2">Sauvgarder </button>


        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="example-preview">
            <div>
            
                <kt-alert *ngIf="isExist" type="warn" [showCloseButton]="true" [duration]="10000"
                    (close)="onAlertClose($event)">
                    Ce Code existe deja
                </kt-alert>
                <form [formGroup]="formX" class="form">   
                <div class="row">
                    <div class="form-group col-2">
                        <label class="form-group">Code Formation:</label>

                        <input type="text" formControlName="pt_part" (change)="onChangeCode()"
                            [className]="formX.controls['pt_part'].errors && (formX.controls['pt_part'].dirty || formX.controls['pt_part'].touched) ? 'form-control form-control-lg form-control-solid is-invalid' : 'form-control form-control-lg form-control-solid'">
                        <div *ngIf="formX.controls['pt_part'].errors && (formX.controls['pt_part'].dirty || formX.controls['pt_part'].touched)"
                            class="invalid-feedback">Ce Champs est obligatoire</div>

                    </div>
                    <div class="form-group col-6">
                        <label class="form-group">Description:</label>
                        <input type="text" id="pt_desc1" (change)="onchangedesc()"
                            [className]="formX.controls['pt_desc1'].errors && (formX.controls['pt_desc1'].dirty || formX.controls['pt_desc1'].touched) ? 'form-control form-control-lg form-control-solid is-invalid' : 'form-control form-control-lg form-control-solid'"
                            formControlName="pt_desc1">
                        <div *ngIf="formX.controls['pt_desc1'].errors && (formX.controls['pt_desc1'].dirty || formX.controls['pt_desc1'].touched)"
                            class="invalid-feedback">Ce Champs est obligatoire</div>

                    </div>
                   
                </div>

                <div class="row">
                    <div class="form-group col-2">
                        <label class="form-group ">Domaine</label>

                        <select
                        class="form-control form-control-lg"
                        formControlName="pt_draw" id="pt_draw" (change)="onchangedomain()">
                            <option value=""></option>
                            <option *ngFor="let elem of pt_draw" [value]="elem.code_value">
                                {{elem.code_value}} {{elem.code_cmmt}}</option>
                        </select>
                       
                    </div>
                    <div class="form-group col-2">
                        <label class="form-group ">Rubrique</label>

                        <select
                        class="form-control form-control-lg"
                        formControlName="pt_group" id="pt_group" >
                            <option value=""></option>
                            <option *ngFor="let elem of pt_group" [value]="elem.code_value">
                                {{elem.code_value}} {{elem.code_cmmt}}</option>
                        </select>
                       
                    </div>
                    <div class="form-group col-2">
                        <label class="form-group">Interne/ Externe:</label>
                        <div class="col-6">
                            <span class="switch switch-lg switch-icon">
                                <label>
                                    <input type="checkbox"
                                       
                                        formControlName="pt_formula" id="pt_formula" />
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>
                   
                </div>
                <br> <br>
                <div class="form-group col-12 row">
                    <label class="col-2 col-form-label text-right"> Détail Formation: </label>
                </div>


                <div class="row col-lg-12">
                    <button class="btn btn-primary btn-elevate col-lg-2" (click)="addNewItem()">Ajouter Une Ligne</button>
                </div>
                <br>
                <div class="row">
                    <angular-slickgrid class="col-12" gridHeight="300" gridId="plagemvGrid" [columnDefinitions]="mvcolumnDefinitions"
                    [gridOptions]="mvgridOptions" [dataset]="mvdataset" (onAngularGridCreated)="mvGridReady($event)">
                </angular-slickgrid>
                </div>
                </form>
            </div>
        </div>

    </kt-portlet-body>
    <div>
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Choissir </h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <angular-slickgrid class="col-12" gridHeight="300" gridId="griduser"
                        [columnDefinitions]="columnDefinitions3" (onAngularGridCreated)="angularGridReady3($event)"
                        (sgOnSelectedRowsChanged)="handleSelectedRowsChanged3($event.detail.eventData, $event.detail.args)"
                        [gridOptions]="gridOptions3" [dataset]="data">
                    </angular-slickgrid>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
            </div>
        </ng-template>
    </div>
    <div>
        <ng-template #contentsite let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Choissir Site </h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <angular-slickgrid class="col-12" gridHeight="300" gridId="griduser"
                        [columnDefinitions]="columnDefinitionssite"
                        (onAngularGridCreated)="angularGridReadysite($event)"
                        (sgOnSelectedRowsChanged)="handleSelectedRowsChangedsite($event.detail.eventData, $event.detail.args)"
                        [gridOptions]="gridOptionssite" [dataset]="datasite">
                    </angular-slickgrid>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
            </div>
        </ng-template>
    </div>

    <div>
        <ng-template #contentloc let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Choissir Emplacement </h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <angular-slickgrid class="col-12" gridHeight="300" gridId="griduser"
                        [columnDefinitions]="columnDefinitionsloc" (onAngularGridCreated)="angularGridReadyloc($event)"
                        (sgOnSelectedRowsChanged)="handleSelectedRowsChangedloc($event.detail.eventData, $event.detail.args)"
                        [gridOptions]="gridOptionsloc" [dataset]="dataloc">
                    </angular-slickgrid>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
            </div>
        </ng-template>
    </div>

    <div>
        <ng-template #contentpl let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Choissir la ligne de Produit</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <angular-slickgrid class="col-12" gridHeight="300" gridId="griditem"
                        [columnDefinitions]="columnDefinitionspl" (onAngularGridCreated)="angularGridReadypl($event)"
                        (sgOnSelectedRowsChanged)="handleSelectedRowsChangedpl($event.detail.eventData, $event.detail.args)"
                        [gridOptions]="gridOptionspl" [dataset]="datapl">
                    </angular-slickgrid>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
            </div>
        </ng-template>

    </div>
    <div>
        <ng-template #contentprov let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Choissir le FOURNISSEUR</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <angular-slickgrid class="col-12" gridHeight="300" gridId="gridpro"
                        [columnDefinitions]="columnDefinitionsprov"
                        (onAngularGridCreated)="angularGridReadyprov($event)"
                        (sgOnSelectedRowsChanged)="handleSelectedRowsChangedprov($event.detail.eventData, $event.detail.args)"
                        [gridOptions]="gridOptionsprov" [dataset]="providers">
                    </angular-slickgrid>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
            </div>
        </ng-template>
    </div>

    <div>
        <ng-template #contentseq let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Choissir la SEQUENCE</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <angular-slickgrid class="col-12" gridHeight="300" gridId="gridSeq"
                        [columnDefinitions]="columnDefinitionsseq" (onAngularGridCreated)="angularGridReadyseq($event)"
                        (sgOnSelectedRowsChanged)="handleSelectedRowsChangedseq($event.detail.eventData, $event.detail.args)"
                        [gridOptions]="gridOptionsseq" [dataset]="sequences">
                    </angular-slickgrid>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
            </div>
        </ng-template>
    </div>
    <div>
        <ng-template #contentstatus let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Choissir le Status</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <angular-slickgrid class="col-12" gridHeight="300" gridId="gridpro"
                        [columnDefinitions]="columnDefinitionsstatus"
                        (onAngularGridCreated)="angularGridReadystatus($event)"
                        (sgOnSelectedRowsChanged)="handleSelectedRowsChangedstatus($event.detail.eventData, $event.detail.args)"
                        [gridOptions]="gridOptionsstatus" [dataset]="datastatus">
                    </angular-slickgrid>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
            </div>
        </ng-template>
    </div>
    <div>
        <ng-template #contenttax let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Choissir </h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <angular-slickgrid class="col-12" gridHeight="300" gridId="griduser"
                        [columnDefinitions]="columnDefinitionstax" (onAngularGridCreated)="angularGridReadytax($event)"
                        (sgOnSelectedRowsChanged)="handleSelectedRowsChangedtax($event.detail.eventData, $event.detail.args)"
                        [gridOptions]="gridOptionstax" [dataset]="datatax">
                    </angular-slickgrid>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
            </div>
        </ng-template>
    </div>


</kt-portlet>

