<kt-portlet>
    <kt-portlet-header [sticky]="true" [title]="'Affectation des Services'" [class]="'card-head-lg'">
        <ng-container ktPortletTools>
            <button type="button" (click)="goBack()" class="btn btn-secondary btn-sm mr-2">Annuler</button>
            <button type="button" (click)="reset()" class="btn btn-secondary btn-sm mr-2">Réinitialiser</button>
            <button type="button" (click)="onSubmit()" class="btn btn-success btn-sm mr-2">Enregistrer </button>
        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="example-preview">
            <form class="kt-form" [formGroup]="profileForm">
                <kt-alert *ngIf="isExist" type="warn" [showCloseButton]="true" [duration]="10000"
                (close)="onAlertClose($event)">
                Ce Code existe deja
            </kt-alert>

                <div class="row">
                    <div class="form-group col-2">
                        <label class="form-group">Code Profile: *</label>
                        <div class="input-group input-group-sm">
                            <input type="text" formControlName="usgs_code"  id="usgs_code" (change)="onChangeCode()"
                                [className]="profileForm.controls['usgs_code'].errors && (profileForm.controls['usgs_code'].dirty || profileForm.controls['usgs_code'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'">
                                <div class="input-group-append">
                                    <span class="input-group-text" (click)="open2(content2)">
                                        <i class="text-dark-50 flaticon2-search"></i> </span>
                                </div>
                            <div *ngIf="profileForm.controls['usgs_code'].errors && (profileForm.controls['usgs_code'].dirty || profileForm.controls['usgs_code'].touched) "
                                class="invalid-feedback">Ce Champs est obligatoire</div>
                        </div>   
                     </div>
                    

                    
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label class="form-group">Nom: *</label>
                        <input type="text" formControlName="name"  
                        class="form-control form-control-sm form-control-solid" disabled>
                       

                     </div>

                    
                </div>

              

                <div class="form-group col-12 row">
                    <label class="col-2 col-form-label text-right">Services: </label>
                </div>


                <div class="row col-lg-12">
                    <button class="btn btn-primary btn-elevate col-lg-2" (click)="addNewItem()">Ajouter une Ligne</button>
                </div>
                <br>
                <div class="row">
                    <angular-slickgrid class="col-12" gridHeight="300" gridId="plagemvGrid" [columnDefinitions]="mvcolumnDefinitions"
                    [gridOptions]="mvgridOptions" [dataset]="mvdataset" (onAngularGridCreated)="mvGridReady($event)">
                </angular-slickgrid>
                </div>

            </form>
        </div>

        <div>
            <ng-template #content4 let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Choissir Service</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <angular-slickgrid class="col-12" gridHeight="300" gridId="griditem"
                            [columnDefinitions]="columnDefinitions4" (onAngularGridCreated)="angularGridReady4($event)"
                            (sgOnSelectedRowsChanged)="handleSelectedRowsChanged4($event.detail.eventData, $event.detail.args)"
                            [gridOptions]="gridOptions4" [dataset]="transacts">
                        </angular-slickgrid>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuler</button>
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
                </div>
            </ng-template>
            <button hidden id="openItemsGrid" class="btn btn-primary" (click)="open4(content4)">Launch demo
                modal</button>

        </div>
        <div>
            <ng-template #content2 let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Choissir Profile</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <angular-slickgrid class="col-12" gridHeight="300" gridId="gridpro"
                            [columnDefinitions]="columnDefinitions2" (onAngularGridCreated)="angularGridReady2($event)"
                            (sgOnSelectedRowsChanged)="handleSelectedRowsChanged2($event.detail.eventData, $event.detail.args)"
                            [gridOptions]="gridOptions2" [dataset]="profiles">
                        </angular-slickgrid>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
                </div>
            </ng-template>
        </div>
    </kt-portlet-body>
</kt-portlet>