<kt-portlet>
    <kt-portlet-header [sticky]="true" [title]="'La liste des Produits'" [class]="'card-head-lg'">
        <ng-container ktPortletTools>
            
            <button type="button" (click)="part()" class="btn btn-secondary btn-sm mr-2">Créer un Article</button>
            <button type="button" (click)="stklist()" class="btn btn-secondary btn-sm mr-2">Liste des stocks</button>
            <button type="button" (click)="receive()" class="btn btn-secondary btn-sm mr-2">Recevoir des Achats </button>
            <button type="button" class="btn btn-secondary btn-sm ml-2"></button>
            <button type="button"  class="btn btn-secondary btn-sm ml-2"> </button>
            <button type="button"  class="btn btn-secondary btn-sm ml-2"> </button>
            <button type="button"  class="btn btn-secondary btn-sm ml-2"> </button>
            <button type="button"  class="btn btn-secondary btn-sm ml-2"> </button>
            <button type="button"  class="btn btn-secondary btn-sm ml-2"> </button>
            <button type="button"  class="btn btn-secondary btn-sm ml-2"> </button>
            <button type="button"  class="btn btn-secondary btn-sm ml-2"> </button>
            <button type="button"  class="btn btn-secondary btn-sm ml-2"> </button>
            <button type="button"  class="btn btn-secondary btn-sm ml-2"> </button>
            <button type="button"  class="btn btn-secondary btn-sm ml-2"> </button>
            <button type="button"  class="btn btn-secondary btn-sm ml-2"> </button>
            <button type="button"  class="btn btn-secondary btn-sm ml-2"> </button>
            <button type="button"  class="btn btn-secondary btn-sm ml-2"> </button>
            <button type="button"  class="btn btn-secondary btn-sm ml-2"> </button>
            <button type="button"  class="btn btn-secondary btn-sm ml-2"> </button>
            <button type="button"  class="btn btn-secondary btn-sm ml-2"> </button>
            <button type="button"  class="btn btn-secondary btn-sm ml-2"> </button>
            <button type="button"  class="btn btn-secondary btn-sm ml-2"> </button>
            <button type="button"  class="btn btn-secondary btn-sm ml-2"> </button>
            <button type="button"  class="btn btn-secondary btn-sm ml-2"> </button>
            <button type="button"  class="btn btn-secondary btn-sm ml-2"> </button>
        

    </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="example-preview">
            <div class="row">
                <angular-slickgrid class="col-12"  gridId="gridMesure" [columnDefinitions]="columnDefinitions"
                (onAngularGridCreated)="gridReady($event)"
                    [gridOptions]="gridOptions" [dataset]="dataset">
                </angular-slickgrid>
            </div>
            
        </div>

    </kt-portlet-body>
</kt-portlet>