.grid .grid-canvas .slick-cell {
    font-size: 30px; /* Font size for the data cells */
  }
  
  .grid .slick-header-columns .slick-header-column {
    font-size: 30px; /* Font size for the header cells */
    line-height: 30px; /* Adjust line height to match font size */
  }