<kt-portlet>
    <kt-portlet-header [sticky]="true" [title]="'Domaine Formation'" [class]="'card-head-lg'" [viewLoading$]="loading$">
        <ng-container ktPortletTools>
            <button type="button" (click)="onSubmit()" class="btn btn-success btn-sm mr-2">sauvegarder </button>



            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-sm" id="dropdownBasic1" ngbDropdownToggle><i
                        class="icon-2x text-dark-50 flaticon-more-v2"></i></button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item">sauvegarder et quitter</button>

                </div>
            </div>

        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>

        <div class="example-preview">
        <div class="row">
            
        </div>

        <br/>
        <button class="btn  btn-sm btn-primary btn-elevate col-lg-4" (click)="addNewItem()">Ajouter Domaine</button>
            <br><br><br>
            <span>Liste des Domaines de Formation</span>
            <br><br>
        <div class="row">
            <angular-slickgrid class="col-6" 
               
                gridId="gridS" 
                [columnDefinitions]="columnDefinitions"
                (onAngularGridCreated)="angularGridReady($event)"
                
                (sgOnSelectedRowsChanged)="onSelectedRowsChanged($event.detail.eventData,$event.detail.args)"
                [gridOptions]="gridOptions" 
                [dataset]="dataset">
            </angular-slickgrid>
            <angular-slickgrid class="col-6 "  gridId="gridLines" [columnDefinitions]="columnDefinitionstr"
            (onAngularGridCreated)="angularGridReadytr($event)"
            [gridOptions]="gridOptionstr" [dataset]="datasettr"
                >
            </angular-slickgrid>
        </div>
        <!--(sgOnSelectedRowsChanged)="handleSelectedRowsChanged($event.detail.eventData, $event.detail.args)"-->
        </div>
        
        
    
            

    </kt-portlet-body>
    <div>
        <ng-template #content5 let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">Une erreur s'est produite</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <span>Voulez vous vraiment Supprimer ce Domaine</span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Non</button>
            <button type="button" class="btn btn-primary" (click)="confirmDeleting()">Oui</button>
          </div>
        </ng-template>
        <button hidden id="openDeletesGrid" class="btn btn-primary" (click)="openDelete(content5)">Launch demo modal</button>
      </div>
</kt-portlet>
