<kt-portlet>
    <kt-portlet-header [sticky]="false" title="Suivi Alimentation Extrusion " [class]="'card-head-lg'" >
        <ng-container ktPortletTools>
            <button type="button" (click)="goBack()" class="btn btn-secondary btn-sm mr-2">annuler</button>
            <button type="button" (click)="reset()" class="btn btn-secondary btn-sm mr-2">Réinitialiser</button>
            <button type="button" (click)="onPrint()" class="btn btn-success btn-sm mr-2">Imprimer </button>

        </ng-container>
    </kt-portlet-header> 
    <kt-portlet-body>
        <div class="example-preview">

            <form class="form" [formGroup]="woForm">
                <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
                    (close)="onAlertClose($event)">
                    {{message}}
                </kt-alert>
                <div class="row">
                    <div class="form-group col-2" >
                        <label class="form-group">Site: *</label>
                    
                        <div class="input-group input-group-sm">

                            <input type="text" formControlName="site" (change)="onChangesite()" id="site" 
                                [className]="woForm.controls['site'].errors && (woForm.controls['site'].dirty || woForm.controls['site'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'"
                                aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text" (click)="opensite(contentsite)">
                                    <i class="text-dark-50 flaticon2-search"></i> </span>
                            </div>
                            <div *ngIf="woForm.controls['site'].errors && (woForm.controls['site'].dirty || woForm.controls['site'].touched)"
                                class="invalid-feedback">Ce Champs est obligatoire</div>
                        </div>
                    </div>
                    
                    <div class="form-group col-2" >
                        <label class="form-group">Id OF: *</label>
                    
                        <div class="input-group input-group-sm">

                            <input type="text" formControlName="wo_lot" (change)="onChangenbr()" id="wo_lot" 
                                [className]="woForm.controls['wo_lot'].errors && (woForm.controls['wo_lot'].dirty || woForm.controls['wo_lot'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'"
                                aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text" (click)="openwo(contentwo)">
                                    <i class="text-dark-50 flaticon2-search"></i> </span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="form-group col-2" >
                        <label class="form-group">N° OF: *</label>
                    
                        <div class="input-group input-group-sm">

                            <input type="text" formControlName="wo_nbr" (change)="onChangenbr()" id="wo_nbr" 
                                [className]="woForm.controls['wo_nbr'].errors && (woForm.controls['wo_nbr'].dirty || woForm.controls['wo_nbr'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'"
                                aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text" (click)="openwo(contentwo)">
                                    <i class="text-dark-50 flaticon2-search"></i> </span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="form-group col-2" >
                        <label class="form-group">Groupe: *</label>
                    
                        <div class="input-group input-group-sm">

                            <input type="text" formControlName="shift" (change)="onChangeshift()" id="shift" 
                                [className]="woForm.controls['shift'].errors && (woForm.controls['shift'].dirty || woForm.controls['shift'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'"
                                aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text" (click)="openshift(contentshift)">
                                    <i class="text-dark-50 flaticon2-search"></i> </span>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-2">
                        <label class="form-group">Date: *</label>
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-sm form-control-solid"  formControlName="date" 
                                 placeholder="jj-mm-aaaa" name="date" ngbDatepicker f
                                #date="ngbDatepicker"   >
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="date.toggle()"  type="button">
                                    <i class="flaticon-calendar-with-a-clock-time-tools"></i>
                                </button>
                            </div>
                            
                        </div>

                    </div>
                    <div class="form-group col-2">
                        <label class="form-group">A: *</label>
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-sm form-control-solid"  formControlName="date1" 
                                 placeholder="jj-mm-aaaa" name="date1" ngbDatepicker f
                                #date1="ngbDatepicker"   >
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="date1.toggle()"  type="button">
                                    <i class="flaticon-calendar-with-a-clock-time-tools"></i>
                                </button>
                            </div>
                            
                        </div>

                    </div>
                    <div class="form-group col-4">
                        <label class="form-group">Valider: *</label>
                        <div class="input-group input-group-sm">

                        <button type="button"  (click)="wolist()" class="btn btn-sm btn-primary btn-elevate col-lg-4">Valider </button>
                        </div>
                    </div>    
                </div>
                <div class="row">
                    <angular-slickgrid class="col-12"   gridId="mGrid"
                        [columnDefinitions]="columnDefinitions" [gridOptions]="gridOptions" [dataset]="dataset"
                        (onAngularGridCreated)="gridReady($event)">
                    </angular-slickgrid>
                </div>
            </form>
        </div>
        <div>
            <ng-template #contentsite let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Choisir Site </h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <angular-slickgrid class="col-12" gridHeight="300" gridId="gridsite"
                            [columnDefinitions]="columnDefinitionssite"
                            (onAngularGridCreated)="angularGridReadysite($event)"
                            (sgOnSelectedRowsChanged)="handleSelectedRowsChangedsite($event.detail.eventData, $event.detail.args)"
                            [gridOptions]="gridOptionssite" [dataset]="datasite">
                        </angular-slickgrid>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">annuler</button>
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
                </div>
            </ng-template>
            <button hidden id="openSitesGrid" class="btn btn-primary" (click)="opensite(contentsite)">Launch demo
                modal</button>
        </div>
        <div>
            <ng-template #contentwo let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Choisir OF </h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <angular-slickgrid class="col-12" gridHeight="300" gridId="gridwo"
                            [columnDefinitions]="columnDefinitionswo"
                            (onAngularGridCreated)="angularGridReadywo($event)"
                            (sgOnSelectedRowsChanged)="handleSelectedRowsChangedwo($event.detail.eventData, $event.detail.args)"
                            [gridOptions]="gridOptionswo" [dataset]="datawo">
                        </angular-slickgrid>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">annuler</button>
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
                </div>
            </ng-template>
            <button hidden id="openwosGrid" class="btn btn-primary" (click)="openwo(contentwo)">Launch demo
                modal</button>
        </div>
        <div>
            <ng-template #contentshift let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Choisir Groupe </h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <angular-slickgrid class="col-12" gridHeight="300" gridId="gridshift"
                            [columnDefinitions]="columnDefinitionsshift"
                            (onAngularGridCreated)="angularGridReadyshift($event)"
                            (sgOnSelectedRowsChanged)="handleSelectedRowsChangedshift($event.detail.eventData, $event.detail.args)"
                            [gridOptions]="gridOptionsshift" [dataset]="datashift">
                        </angular-slickgrid>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">annuler</button>
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
                </div>
            </ng-template>
            <button hidden id="openShiftsGrid" class="btn btn-primary" (click)="openshift(contentshift)">Launch demo
                modal</button>
        </div>
        
        
    </kt-portlet-body>
</kt-portlet>



