<kt-portlet>
    <kt-portlet-header [sticky]="true" [title]="title" [class]="'card-head-lg'" [viewLoading$]="loading$">
        <ng-container ktPortletTools>
            <button type="button" (click)="goBack()" class="btn btn-secondary btn-sm mr-2">Annuller</button>
            <button type="button" (click)="reset()" class="btn btn-secondary btn-sm mr-2">Réinitialiser</button>
            <button type="button" (click)="onSubmit()" class="btn btn-success btn-sm mr-2">Sauvgarder </button>



            <!-- <div ngbDropdown class="d-inline-block">
                <button class="btn btn-sm" id="dropdownBasic1" ngbDropdownToggle><i
                        class="icon-2x text-dark-50 flaticon-more-v2"></i></button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item">Sauvgarder et quitter</button>

                </div>
            </div> -->

        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="example-preview">

            <form class="form" [formGroup]="userForm">

               
                <div class="row">
                    <div class="form-group col-2">
                        <label class="form-group">Code utilisateur : *</label>
                        <input type="text" formControlName="user_mobile_code" [(ngModel)]="userMobileEdit.user_mobile_code"
                            [className]="userForm.controls['user_mobile_code'].errors && (userForm.controls['user_mobile_code'].dirty || userForm.controls['user_mobile_code'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'">
                        <div *ngIf="userForm.controls['user_mobile_code'].errors && (userForm.controls['user_mobile_code'].dirty || userForm.controls['user_mobile_code'].touched) "
                            class="invalid-feedback">Ce Champs est obligatoire</div>

                    </div>
                    <div class="form-group col-2">
                        <label class="form-group">Nom d'utilisateur : *</label>
                        <input type="text" formControlName="username"
                            [className]="userForm.controls['username'].errors && (userForm.controls['username'].dirty || userForm.controls['username'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'">
                        <div *ngIf="userForm.controls['username'].errors && (userForm.controls['username'].dirty || userForm.controls['username'].touched) "
                            class="invalid-feedback">Ce Champs est obligatoire</div>

                    </div>
                 

                </div>
                <div class='row'>
                    
                    <div class="form-group col-2">
                        <label class="form-group">Mot de passe: *</label>
                        <input type="password" formControlName="password"
                            [className]="userForm.controls['password'].errors && (userForm.controls['password'].dirty || userForm.controls['password'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'">
                        <div *ngIf="userForm.controls['password'].errors && (userForm.controls['password'].dirty || userForm.controls['password'].touched) "
                            class="invalid-feedback">Ce Champs est obligatoire</div>
                    </div>
                </div>    
                <div class="row">    
                    <div class="form-group col-2">
                        <label class="form-group">Saisir A nouveau: *</label>
                        <input type="password" formControlName="new_password"
                            [className]="userForm.controls['new_password'].errors && (userForm.controls['new_password'].dirty || userForm.controls['new_password'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'">
                        <div *ngIf="userForm.controls['new_password'].errors && (userForm.controls['new_password'].dirty || userForm.controls['new_password'].touched) "
                            class="invalid-feedback">Ce Champs est obligatoire</div>
                        
                    </div>
                </div>

                <div class="row">    
                    <div class="form-group col-2">
                        <label class="form-group">Profile: *</label>
                        <div class="input-group input-group-sm">

                            <input type="text" formControlName="profile_code"
                                [className]="userForm.controls['profile_code'].errors && (userForm.controls['profile_code'].dirty || userForm.controls['profile_code'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'"
                                aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text" (click)="open(content)">
                                    <i class="text-dark-50 flaticon2-search"></i> </span>
                            </div>
                            <div *ngIf="userForm.controls['profile_code'].errors && (userForm.controls['profile_code'].dirty || userForm.controls['profile_code'].touched)"
                                class="invalid-feedback">Ce Champs est obligatoire</div>
                        </div>
                        
                    </div>
                    <div class="form-group col-2">
                        <label class="form-group">Actif:</label>

                        <span class="switch switch-icon">
                            <label>
                                <input type="checkbox"
                                    class="form-control form-control-sm form-control-solid"
                                    formControlName="hold" name="select" />
                                <span></span>
                            </label>
                        </span>

                    </div>

                

                </div>
                

            </form>
        </div>

        <div>
            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Choissir le profil</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <angular-slickgrid class="col-12" gridHeight="300" gridId="gridCode" [columnDefinitions]="columnDefinitions" (onAngularGridCreated)="angularGridReady($event)" (sgOnSelectedRowsChanged)="handleSelectedRowsChanged($event.detail.eventData, $event.detail.args)"
                            [gridOptions]="gridOptions" [dataset]="profiles">
                        </angular-slickgrid>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
                </div>
            </ng-template>
        </div>

    </kt-portlet-body>
</kt-portlet>