
<kt-portlet class="main-container">
    <kt-portlet-header [sticky]="true" [title]="'Ajouter une population'" [class]="'card-head-lg main-container'" [viewLoading$]="loading$" >
        <ng-container ktPortletTools>
            <button type="button" (click)="goBack()" class="btn btn-secondary btn-sm mr-2">Annuller</button>
            <!-- <button type="button" (click)="direct()" class="btn btn-secondary btn-sm mr-2">Ajouter une catégorie</button> -->
            <button type="button" (click)="onSubmit()" class="btn btn-sm mr-2 btn-success">sauvegarder</button>
        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body class="main-container">
        <div class="example-preview">
            <div>
                <div>
                    {{ time | async }}
                </div>

                <form [formGroup]="populationForm" class="form">

                    <!-- <kt-alert *ngIf="isExist" type="warn" [showCloseButton]="true" [duration]="10000"
                    (close)="onAlertClose($event)">
                    Ce code customer existe deja - Si vous voulez le mettre à jour<button type="warn" class="btn">Cliquez ici</button>
                    </kt-alert>   (change)="onChangeCode()" -->
                    
                    <div class="row mb-2">
                      <!-- CODE POPULATION -->
                      <div class=" form-group col-4">
                        <!-- <span >Code paramètre:</span> -->
                            <label class="form-group " id="code" >code de la population:</label>
                            <input 
                            
                            type="text"
                            class="form-control form-control-sm form-control-solid"
                            formControlName="code_population"
                            (change) = "onChangeCode()"
                            >
                            
                            <div *ngIf="populationForm.controls['code_population'].errors && (populationForm.controls['code_population'].dirty || populationForm.controls['code_population'].touched)"
                            class="invalid-feedback">Ce Champs est obligatoire</div>

                      </div>
                      <!-- CODE POPULATION END  -->

                      
                      
                    </div>


                    <!-- DESC POPULATION -->
                    <div class="row">
                        <div class=" form-group col-3">
                            <label class="form-group " id="code" >description:</label>
                            

                            <textarea class="form-control form-control-sm form-control-solid" formControlName="desc_population"
                            rows="6"></textarea>
                            
                           

                      </div>

                       
                    </div>
                </form> 
                
                <!-- DETAILS TITLE  -->
                <div class="row mt-7 mb-7">
                    <h4>Liste de clients</h4>
                </div>
                <!-- DETAILS TITLE END -->

                

                <!-- GRID -->
                <div class="row"> 
                        <angular-slickgrid class="col-12" gridHeight="300" gridWidth="1000"
                            gridId="grid" 
                            [columnDefinitions]="columnDefinitions"
                            (onAngularGridCreated)="angularGridReady($event)"
                            (sgOnSelectedRowsChanged)="onSelectedRowsChanged($event.detail.eventData, $event.detail.args)"
                            [gridOptions]="gridOptions" 
                            [dataset]="customers"
                            >
                        </angular-slickgrid>
                </div>
                <!-- GRID END -->
            
               
            </div>
        </div>

    </kt-portlet-body>
 