<kt-portlet>
    <kt-portlet-header [sticky]="true" [title]="'Modification Projet'" [class]="'card-head-lg'">
        <ng-container ktPortletTools>


        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="example-preview">
            <div class="row">
                

                <angular-slickgrid class="col-12"  gridId="gridtask" [columnDefinitions]="columnDefinitions"
                    [gridOptions]="gridOptions" [dataset]="dataset">
                </angular-slickgrid>
            </div>
            
    

            
        </div>    
    </kt-portlet-body>
    <div>
        <ng-template #contentproject let-c="close"  let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Changer Status</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="form row" [formGroup]="pmForm">
                        <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
                            (close)="onAlertClose($event)">
                            {{message}}
                        </kt-alert>
                        <div class="col-12">
                            <div class="row">
                                <div class="form-group col-12">
                                    <label class="form-group">Status:</label>
                                    <select class="form-control form-control-sm form-control-solid"
                                            id="exampleSelects2" formControlName="pm_status">
                                            <option value=""></option>
                                            <option value="A">Annuler</option>
                                            <option value="P">Perdu</option>
                                            <option value="X">Suprimer</option>
                                            <option value="C">Cloturer</option>
    
    
                                        </select>
                                </div>
                                <div class="form-group col-6">
                                    <label class="form-group">Raison :</label>
                                    <div class="input-group input-group-sm">
        
                                        <input type="text" class="form-control form-control-solid" formControlName="pm_reason"
                                            aria-describedby="basic-addon2">
                                        
                                    </div>
        
                                </div>
                                <div class="form-group col-6">
                                    <label class="form-group">Addresse :</label>
                                    <div class="input-group input-group-sm">
        
                                        <input type="text" class="form-control form-control-solid" formControlName="pm_win_addr"
                                            aria-describedby="basic-addon2">
                                        
                                    </div>
        
                                </div>
                                
                            </div>
                            
                            <div class="row">
                                <div class="form-group col-6">
                                    <label class="form-group">Montant :</label>
                                    <div class="input-group input-group-sm">
        
                                        <input type="text" class="form-control form-control-solid" formControlName="pm_win_amt"
                                            aria-describedby="basic-addon2">
                                        
                                    </div>
        
                                </div>
                                <div class="form-group col-6">
                                    <label class="form-group">Observation :</label>
                                    <textarea class="form-control form-control-sm form-control-solid" formControlName="pm_win_cmmt"
                                      rows="2"></textarea>
        
                                </div>
                                   
                               
        
                            </div>
                            
                        </div>
                        
                    </form>


                </div>
            </div>
            <div class="modal-footer">
                
                <button type="button" class="btn btn-primary" (click)="onSubmit()" (click)="c('Close click')">Valider</button>
            </div>
        </ng-template>
        <button hidden id="openVendsGrid" class="btn btn-primary" (click)="openchange(contentproject)">Launch demo
            modal</button>

    </div>

</kt-portlet>

