
<kt-portlet class="main-container">
    <kt-portlet-header [sticky]="true" [title]="'Agenda'" [class]="'card-head-lg main-container'" [viewLoading$]="loading$" style="background-color:beige">
        <ng-container ktPortletTools>
            <button type="button" (click)="goBack()" class="btn btn-secondary btn-sm mr-2">annuler</button>
            <!-- <button type="button" (click)="direct()" class="btn btn-secondary btn-sm mr-2">Ajouter une catégorie</button> -->
            <!-- <button type="button" (click)="refresh()" class="btn btn-abracadabra btn-sm mr-2">Rafraîchir </button> -->
            <!-- <button type="button" (click)="onSubmit()" class="btn btn-abracadabra btn-sm mr-2">enregistrer </button> -->
             <button type="button" (click)="newEvent()" class="btn btn-abracadabra btn-sm mr-2">Nouvel événement </button> 
        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body class="main-container">
        <div>
          {{ time | async }}
        </div>
        <div class="example-preview">
            
           
            
            <div>
                <full-calendar 
                    [options]="calendarOptions"
                    
                ></full-calendar>
            </div>
        </div>  

        <!-- BUTTON TO OPEN MODAL 1 -->
        <button
                hidden
                id="modalButton"
                class="btn btn-primary"
                (click)="open(content)"
        ></button>

         <!-- BUTTON TO OPEN MODAL 2 -->
         <button
         hidden
         id="modal2Button"
         class="btn btn-primary"
         (click)="open2(content2)"
         ></button>

          <!-- BUTTON TO OPEN MODAL 3 -->
          <button
          hidden
          id="modal3Button"
          class="btn btn-primary"
          (click)="open3(content3)"
          ></button>

          <!-- BUTTON TO OPEN MODAL 4 -->
          <button
          hidden
          id="modal4Button"
          class="btn btn-primary"
          (click)="open4(content4)"
          ></button>

          <!-- BUTTON TO OPEN MODAL 5 -->
          <button
          hidden
          id="modal5Button"
          class="btn btn-primary"
          (click)="open5(content5)"
          ></button>

           <!-- BUTTON TO OPEN MODAL 6 -->
           <button
           hidden
           id="modal6Button"
           class="btn btn-primary"
           (click)="open6(content6)"
           ></button>

           <!-- BUTTON TO OPEN MODAL 7 -->
           <button
           hidden
           id="modal7Button"
           class="btn btn-primary"
           (click)="open7(content7)"
           ></button>


          <!-- MODAL : EVENT INFO-->
          <div class="row">
              <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h4 class="modal-title">Informations sur l'événement et le client</h4>
                  <button
                    type="button"
                    class="close"
                    aria-label="Close"
                    (click)="d('Cross click')"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>

                  
                  <button
                    *ngIf="eventIsComplaint" 
                    type="button"
                    class="btn btn-abracadabra"
                    (click)="openComplaintModal()"
                  >
                    Données de réclamation
                  </button>

                  
                </div>
                <div class="modal-body">
                  <div class="row">
                    <!--begin::Form-->
                    <form
                      class="form"
                      [formGroup]="eventForm"
                      autocomplete="off"
                      novalidate="novalidate"
                      class="pl-5 pr-5"
                    >

                    <!-- PHONE AND CATEGORIE -->
                    <div class="row align-middle form-group-bg">
                      
                        <!-- PHONE -->
                        <div class="col-3 align-middle mt-2">
                          <label class="align-middle">Client:</label>
                        </div>
                        <div class="col-3 mt-2" >{{clientData.cm_sort}}</div>
                        <!-- PHONE END  -->
                        
                        <!-- CATEGORY -->
                        <div class="col-3 align-middle mt-2">
                          <label class="align-middle">Formation:</label>
                        </div>
                        <div class="col-3 mt-2">{{item_desc}}</div>
                        <!-- CATEGORY END -->
                    
                    </div>
                    <!-- PHONE AND CATEGORIE -->

                    <!-- TIMES -->
                    <div class="row align-middle form-group-bg">
                      
                      <!-- START -->
                      <div class="col-3 align-middle mt-2">
                        <label class="align-middle">Heure de début d'appel:</label>
                      </div>
                      <div class="col-3 mt-2" ><h5>{{selectedEvent.call_start_time}}</h5></div>
                      <!-- START END  -->
                      
                      <!-- END -->
                      <div class="col-3 align-middle mt-2">
                        <label class="align-middle">Heure de fin d'appel:</label>
                      </div>
                      <div class="col-3 mt-2"><h5>{{selectedEvent.call_end_time}}</h5></div>
                    
                      <!-- END END -->
                  
                    </div>
                    <!-- TIMES -->

                    <!-- CLIENT DATA -->
                    <div class="row align-middle form-group-bg">
                      
                        <!-- NAME -->
                        <div class="col-3 align-middle mt-2">
                          <label class="align-middle">Numéro Tél:</label>
                        </div>
                        <div class="col-3 mt-2" >{{selectedEvent.phone_to_call}}</div>
                        <!-- NAME END  -->
                        
                      <!-- ADR -->
                      <div class="col-3 align-middle mt-2">
                        <label class="align-middle">Adresse du client:</label>
                      </div>
                      <div class="col-3 mt-2" >{{clientData.wilaya}}</div>
                      <!-- ADR END  -->
                      
                      <!-- EMAIL -->
                      <div class="col-3 align-middle mt-2">
                        <label class="align-middle">Email:</label>
                      </div>
                      <div class="col-3 mt-2 text-wrap">{{clientData.email}}</div>
                      <!-- AGE END -->
                    </div>
                    <!-- CLIENT DATA END  -->
                    
                    <!-- ACTIONS AND METHODS  -->
                    <div class="row align-middle form-group-bg">
                      <div class="row align-middle mt-5">

                        <!-- ACTION -->
                        <div class="col-3 align-middle mt-2">
                          <label class="align-middle">Action proposée:</label>
                        </div>
                        <div class="col-3 mt-2">{{selectedEvent.action_display}}</div>
                        <!-- ACTION END -->

                        <!-- ACTION EXECUTED -->
                        <div class="col-3 align-middle">
                          <label class="align-middle mt-2">Action exécutée:</label>
                        </div>
                        <div class="col-3">
                          <select
                            class="form-control form-control-solid"
                            formControlName="selectedAction"
                          >
                            <option *ngFor="let action of action_types" [value]="action.code_value" class="mt-1">{{action.code_desc}}</option>
                          </select>
                        </div>
                        <!-- ACTION EXECUTED -->

                      </div>

                      <div class="row align-middle mt-5">

                        <!-- Method -->
                        <div class="col-3 align-middle">
                          <label class="align-middle mt-2">Méthode proposée:</label>
                        </div>
                        <div class="col-3 mt-2">{{selectedEvent.method_display}}</div>
                        <!-- Method END -->

                        <!-- METHOD 0 -->
                        <!-- <div class="col-3 align-middle">
                          <label class="align-middle mt-2 ">Méthode exécutée:</label>
                        </div>
                        <div class="col-3">
                          <select
                            class="form-control form-control-solid"
                            formControlName="selectedMethod"
                          >
                            <option *ngFor="let method of methods" [value]="method.code_value" class="mt-1">{{method.code_desc}}</option>
                          </select>
                        </div> -->
                        <!-- METHOD 0 -->

                      </div>
                    </div>
                    <!-- ACTIONS AND METHODS  -->
        
                      

    
                    </form>
                    <!--end::Form-->
                  </div>
                </div>
                <div class="modal-footer">

                  <!-- BUTTON TO CLOSE THE MODAL FROM CODE -->
                  <button
                    hidden
                    id="closeForm1"
                    class="btn btn-primary"
                    (click)="c('Close click')"
                  ></button>

                  <button
                    type="button"
                    class="btn btn-secondary"
                    (click)="close()"
                  >
                    annuler
                  </button>

                  <button
                    *ngIf="ableToSave"
                    type="button"
                    class="btn btn-abracadabra"
                    (click)="submitExuctionLine()"
                  >
                    Sauvegarder
                  </button>

                  <button
                    *ngIf="!ableToSave"
                    type="button"
                    class="btn btn-abracadabra"
                    (click)="executeEvent()"
                  >
                      Exécuter
                  </button>

                </div>
              </ng-template>
          </div>
          <!-- MODAL END -->

         <!-- MODAL  2 : EXECUTION-->
         <div class="row">
          <ng-template #content2 let-c="close" let-d="dismiss">

            <div class="modal-header">
              <h4 class="modal-title">L'execution</h4>
              <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="d('Cross click')"
              >
                <span aria-hidden="true">&times;</span>
              </button>

              
              <button
              *ngIf="canAddNewEvent"
              type="button"
              class="btn btn-abracadabra"
              (click)="opeNewRDVPopup()"
            >
              Créer un évènement
            </button>

            </div>

            <div class="modal-body">
              <div class="row">
                <!--begin::Form-->
                <form
                  class="form"
                  [formGroup]="executionForm"
                  autocomplete="off"
                  novalidate="novalidate"
                  class="pl-5 pr-5"
                >

                <!-- PHONE AND CATEGORIE -->
                <div class="row align-middle form-group-bg">
                  
                    <!-- PHONE -->
                    <div class="col-3 align-middle mt-2">
                      <label class="align-middle">Client:</label>
                    </div>
                    <div class="col-3 mt-2" >{{clientData.cm_sort}}</div>
                    <!-- PHONE END  -->
                    
                    <!-- CATEGORY -->
                    <div class="col-3 align-middle mt-2">
                      <label class="align-middle">Formation:</label>
                    </div>
                    <div class="col-3 mt-2">{{item_desc}}</div>
                  
                    <!-- CATEGORY END -->
                 
                </div>
                <!-- PHONE AND CATEGORIE -->

                <!-- TIMES -->
                <div class="row align-middle form-group-bg">
                  
                  <!-- START -->
                  <div class="col-3 align-middle mt-2">
                    <label class="align-middle">Heure de début d'appel:</label>
                  </div>
                  <div class="col-3 mt-2" ><h5>{{selectedEvent.call_start_time}}</h5></div>
                  <!-- START END  -->
                  
                  <!-- END -->
                  <div class="col-3 align-middle mt-2">
                    <label class="align-middle">Heure de fin d'appel:</label>
                  </div>
                  <div class="col-3 mt-2"><h5>{{selectedEvent.call_end_time}}</h5></div>
                
                  <!-- END END -->
               
                </div>
                <!-- TIMES -->
                
                <!-- EXECUTION RESULTS  -->
                <!-- <div class="row align-middle form-group-bg">
                  <div
                  class="col-12"
                  
                >
                  <div class="row mt-5">
                   
                    <fieldset class="col-6"  >
                      <div *ngFor="let cause of event_Results; let i = index">
                        <input
                        type="checkbox"
                        attr.id="{{i}}"
                        formControlName="{{ cause.code_value }}"
                        (change)="openDateTimePicker(i)"
                        [checked] = "cause.checked"
                        />
                        <label for="coding" class="ml-2">{{
                          cause.code_desc
                        }}</label>
                      </div>
                     
                    </fieldset>
                   
                    <div class="col-6"> 
                      <textarea
                        rows="2"
                        type="text"
                        class="mt-1 form-control form-control-solid"
                        formControlName="observation"
                      >
                      </textarea>
                    </div>
                  

                  </div>
                </div>

                 
                </div> -->
                <!-- EXECUTION RESULTS  -->
    
                  


                </form>
                <!--end::Form-->
              </div>
            </div>


            <div class="modal-footer">

              <!-- BUTTON TO CLOSE THE MODAL FROM CODE -->
              <button
                hidden
                id="closeForm2"
                class="btn btn-primary"
                (click)="c('Close click')"
              ></button>

              <button
                type="button"
                class="btn btn-secondary"
                (click)="c('Close click')"
              >
                annuler
              </button>

              <button
                type="button"
                class="btn btn-abracadabra"
                (click)="saveExecutionLine()"
              >
                Terminer
              </button>

            </div>

          </ng-template>
         </div>
         <!-- MODAL END 2 -->

         <!-- MODAL 3 : COMPLAINT DATA   -->
         <div class="row">
          <ng-template #content3 let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title">Données de réclamation</h4>
              <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="d('Cross click')"
              >
                <span aria-hidden="true">&times;</span>
              </button>
              
            </div>
            <div class="modal-body">
              <div class="row">
                <!--begin::Form-->
                <form
                  class="form"
                  [formGroup]="complaintForm"
                  autocomplete="off"
                  novalidate="novalidate"
                  class="pl-5 pr-5"
                >

  
                <!-- COMPLAINT DATA -->
                <div class="row align-middle form-group-bg">
                  
                  <div class="row mt-2">
                    <!-- CODE -->
                    <div class="col-3 align-middle mt-2">
                      <label class="align-middle">Code de reclamation:</label>
                    </div>
                    <div class="col-3 mt-2" >{{complaintData.complaint_code}}</div>
                    <!-- CODE END  -->
                    
                    <!-- ORDER CODE -->
                    <div class="col-3 align-middle mt-2">
                      <label class="align-middle">Code de commande:</label>
                    </div>
                    <div class="col-3 mt-2">{{complaintData.order_code}}</div>
                    <!-- ORDER CODE END -->
                  </div>

                  <div class="row mt-2">
                    <!-- ADR -->
                    <div class="col-3 align-middle mt-2">
                      <label class="align-middle">Site:</label>
                    </div>
                    <div class="col-3 mt-2" >{{complaintData.site_loc}}</div>
                    <!-- ADR END  -->
                    
                    <!-- EMAIL -->
                    <div class="col-3 align-middle mt-2">
                      <label class="align-middle">Emplacement:</label>
                    </div>
                    <div class="col-3 mt-2">{{complaintData.order_emp}}</div>
                    <!-- AGE END -->
                  </div>

                  <div class="row mt-2">
                    <!-- ADR -->
                    <div class="col-3 align-middle mt-2">
                      <label class="align-middle">Date de commande:</label>
                    </div>
                    <div class="col-3 mt-2" >{{complaintData.created_date}}</div>
                    <!-- ADR END  -->
                    
                    <!-- EMAIL -->
                    <!-- <div class="col-3 align-middle mt-2">
                      <label class="align-middle">Emplacement:</label>
                    </div>
                    <div class="col-3 mt-2">{{complaintData.order_emp}}</div> -->
                    <!-- AGE END -->
                  </div>

                </div>
                <!-- COMPLAINT DATA END  -->
                
                
                </form>
                <!--end::Form-->
              </div>
            </div>
            <div class="modal-footer">
              
              <button
              type="button"
              class="btn btn-secondary"
              (click)="c('Close click')"
            >
                annuler
              </button>

              

            </div>
          </ng-template>
         </div>
         <!-- MODAL 3 END -->

          <!-- MODAL 4 : DATE AND TIME PICKER-->
          <div class="row">
            <ng-template #content4 let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title">Création d'un événement</h4>
                <button
                  type="button"
                  class="close"
                  aria-label="Close"
                  (click)="d('Cross click')"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
                
              </div>
              <div class="modal-body">
                <div class="row">
                  <!--begin::Form-->
                  <!-- <form
                    class="form"
                    [formGroup]="complaintForm"
                    autocomplete="off"
                    novalidate="novalidate"
                    class="pl-5 pr-5"
                  >

                  </form> -->
                  <div class="col-6">
                    <h5>Sélectionner la date : </h5>
                    <ngb-datepicker #dp [(ngModel)]="model" ></ngb-datepicker>
                  </div>
                  <div class="col-6">
                    <h5>Sélectionner l'heure : </h5>
                    <ngb-timepicker [(ngModel)]="new_even_time "></ngb-timepicker>
                  </div>
                  <!--end::Form-->
                </div>
              </div>
              <div class="modal-footer">
                  <button
                  hidden
                  id="closeModal4"
                  class="btn btn-primary"
                  (click)="c('Close click')"
                ></button>
                  
                  <button
                  type="button"
                  class="btn btn-secondary"
                  (click)="c('Close click')"
                >
                    annuler
                  </button>

                  <button
                  type="button"
                  class="btn btn-abracadabra"
                  (click)="saveNewEvent()"
                >
                  Ajouter
                </button>
  
                
  
              </div>
            </ng-template>
          </div>
          <!-- MODAL 4 END -->

          <!-- MODAL 5 : RECREATE EVENT-->
          <div class="row">
            <ng-template #content5 let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title">Renouvellement de l'événement</h4>
                <button
                  type="button"
                  class="close"
                  aria-label="Close"
                  (click)="d('Cross click')"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
                
              </div>
              <div class="modal-body">
                <div class="row">
                 
                  <div class="col-12">
                    <h5>cet événement a atteint et se termine sans être terminé, aimeriez-vous le renouveler ? </h5> 
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                  <button
                  hidden
                  id="closeModal5"
                  class="btn btn-primary"
                  (click)="c('Close click')"
                  >
                  </button>
                  
                  <button
                  type="button"
                  class="btn btn-abracadabra"
                  (click)="renew(false)"
                  >
                  NON
                  </button>

                  <button
                  type="button"
                  class="btn btn-abracadabra"
                  (click)="renew(true)"
                  >
                  OUI
                  </button>
  
              </div>
            </ng-template>
          </div>
          <!-- MODAL 5 : RECREATE EVENT END -->

         <!-- MODAL 6 : NEW EVENT-->
         <div class="row">
          <ng-template #content6 let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title">Nouvel événement</h4>
              <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="d('Cross click')"
              >
                <span aria-hidden="true">&times;</span>
              </button>

              <div *ngIf="addNewEventClient">
                <button
                  type="button"
                  (click)="open8(content8)"
                  class="btn btn-sm mr-2 mt-3 btn-abracadabra"
                >
                  Créer un client
                </button>
              </div>
              
            </div>

            <div class="modal-body">
              <div class="row">
                <form
                  class="form"
                  [formGroup]="newEventForm"
                  autocomplete="off"
                  novalidate="novalidate"
                  id="kt_login_form"
                  class="pl-5 pr-5"
                > 

                <!-- PHONE -->
                <div class="form-group row">

                  <!-- PHONE NUMBER -->
                  <mat-form-field class="col-4">
                    <mat-label>Numéro de téléphone:</mat-label>
                    <input
                      matInput
                      type="text"
                      placeholder="Numéro de téléphone"
                      (change)="onChangePhone()"
                      id="phoneN"
                      formControlName="phone"
                      autocomplete="off"
                    />
                    <!-- <mat-error *ngIf="isControlHasError('phoneN', 'required')">
                      <strong>{{ "AUTH.VALIDATION.REQUIRED_FIELD" | translate }}</strong>
                    </mat-error>
                    <mat-error *ngIf="isControlHasError('phoneN', 'pattern')">
                      <strong>wrong pattern</strong>
                    </mat-error> -->
                  </mat-form-field>
                  <!-- PHONE NUMBER END  -->

                  <div class="col-4 mt-4">{{result_string}}</div>
                  

                </div>
                <!-- PHONE-->

                <!-- CLIENT DATA -->
                <div *ngIf="newEventClientExist">
                  <div class="row ">
                    <h6>Informations du client</h6>
                  </div>  
                  <div class="row align-middle form-group-bg mt-2"  >
                      
                    <div class="row mt-2">
                      <!-- NAME -->
                      <div class="col-3 align-middle mt-2">
                        <label class="align-middle">Numéro Tél:</label>
                      </div>
                      <div class="col-3 mt-2" >{{selectedEvent.phone_to_call}}</div>
                      <!-- NAME END  -->
                      
                      <!-- AGE -->
                      <div class="col-3 align-middle mt-2">
                        <label class="align-middle">Age:</label>
                      </div>
                      <div class="col-3 mt-2"> {{clientDataNewEvent.ageDisplay}} ans  ({{clientDataNewEvent.cm_high_date}})</div>
                      <!-- AGE END -->
                  </div>
  
                  <div class="row mt-2">
                    <!-- ADR -->
                    <div class="col-3 align-middle mt-2">
                      <label class="align-middle">Adresse du client:</label>
                    </div>
                    <div class="col-3 mt-2" >{{clientDataNewEvent.adressDisplay}}</div>
                    <!-- ADR END  -->
                    
                    <!-- EMAIL -->
                    <div class="col-3 align-middle mt-2">
                      <label class="align-middle">Email:</label>
                    </div>
                    <div class="col-3 mt-2 text-wrap">{{clientDataNewEvent.email}}</div>
                    <!-- AGE END -->
                </div>
  
                  </div>
                </div>
               
                <!-- CLIENT DATA END  -->

                <div *ngIf="can_select_call">
                  <div class="row">
                    <h6>Sélectionner un motif d'appel</h6>
                  </div>
                  <div class="row  mt-5 ml-10 mr-10" >
                    <div *ngFor="let category of filtered_categories" 
                          class="  mb-5 feeedback-btn button" 
                          (click)="changeRoute(category.code_value)">
                        <div class="button_text">{{category.code_desc}}</div> 
                    </div>
                  </div>
                </div>
                
                <!-- class=" image_div"  -->
                <!-- <h1 *ngFor="let category of filtered_categories">{{category.code_desc}}</h1> -->
              
                </form>
              </div>
            </div>

            <div class="modal-footer">
                <button
                hidden
                id="closeModal5"
                class="btn btn-primary"
                (click)="c('Close click')"
                >
                </button>

                <button
                type="button"
                class="btn btn-secondary"
                (click)="c('Close click')"
                >
                  annuler
                </button>

                <button
                  hidden
                  id="closeModal6"
                  class="btn btn-primary"
                  (click)="c('Close click')"
                  >
                  </button>
                
              
               

            </div>
          </ng-template>
          </div>
          <!-- MODAL 6 : NEW EVENT END -->   

          <!-- MODAL 7 : SPEACIAL EVENT CASE-->
         <div class="row">
          <ng-template #content7 let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title">{{special_event_category_display}} : Creation</h4>
              <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="d('Cross click')"
              >
                <span aria-hidden="true">&times;</span>
              </button>
              
            </div>

            <div class="modal-body">
              <div class="row">
                <form
                  class="form"
                  [formGroup]="specialEventForm"
                  autocomplete="off"
                  novalidate="novalidate"
                  id="kt_login_form"
                > 

                <!-- SIZE & SITE -->
                <div class="row">
                  <!-- SITE -->
                  <div class="form-group col-6">
                    <mat-form-field >
                      <mat-label>Site:</mat-label>
                      <input
                        matInput
                        type="text"
                        placeholder="Site"
                        formControlName="site"
                        autocomplete="off"
                      />
                    </mat-form-field>
                  </div>
                  <!-- SITE-->  

                  <!-- TAILLE -->
                  <div class="form-group col-6">
                  <mat-form-field>
                    <mat-label>Taille:</mat-label>
                    <input
                      matInput
                      type="number"
                      placeholder="Taille"
                      formControlName="size"
                      autocomplete="off"
                    />
                      </mat-form-field>
                  </div>
                  <!-- TAILLE--> 
                </div>
                <!-- SIZE & SITE END -->

                <!-- TYPE-->
                <div class="row">
                  <!-- TYPE -->
                  <div class="form-group col-6">
                    <mat-form-field >
                      <mat-label>Type:</mat-label>
                      <input
                        matInput
                        type="text"
                        placeholder="Type"
                        formControlName="type"
                        autocomplete="off"
                      />
                    </mat-form-field>
                  </div>
                  <!-- SITE-->  

                
                </div>
                <!-- TYPE END -->

                <!-- OBS 1 & OBS2  -->
                <div class="row">
                  <!-- OBS1 -->
                  <div class="form-group col-6">
                    <mat-form-field >
                      <mat-label>Observation 1:</mat-label>
                      <textarea
                      matInput
                      rows="2"
                      type="text"
                      class="mt-1 form-control form-control-solid"
                      formControlName="obs1">
                      </textarea> 
                    </mat-form-field>
                  </div>
                  <!-- OBS1-->  

                  <!-- OB2 -->
                  <div class="form-group col-6">
                  <mat-form-field>
                    <mat-label>Oservation 2 </mat-label>
                     <textarea
                        matInput
                        rows="2"
                        type="text"
                        class="mt-1 form-control form-control-solid"
                        formControlName="obs2">
                     </textarea> 
                      </mat-form-field>
                  </div>
                  <!-- TAILLE--> 
                </div>
                <!-- OBS 1 & OBS2 -->
                
                   
                <!-- TIME AND DATE PICKER -->
                <div class="row">
                <div class="form-group col-6">
                  <h5>La date : </h5>
                  <ngb-datepicker #dp [(ngModel)]="model1" ></ngb-datepicker>
                </div>
                <div class="form-group col-6">
                  <h5>L'heure : </h5>
                  <ngb-timepicker [(ngModel)]="special_even_time"></ngb-timepicker>
                </div>
                </div>
                <!-- TIME AND DATE PICKER END -->


                </form>
              </div>
            </div>

            <div class="modal-footer">
                <button
                hidden
                id="closeModal7"
                class="btn btn-primary"
                (click)="c('Close click')"
                >
                </button>

                <button
                type="button"
                class="btn btn-secondary"
                (click)="c('Close click')"
                >
                  annuler
                </button>

                <button
                  hidden
                  id="closeModal7"
                  class="btn btn-primary"
                  (click)="c('Close click')"
                  >
                  </button>

                  <button
                  type="button"
                  class="btn btn-abracadabra"
                  (click)="saveSpecialEvent()"
                  >
                  enregistrer
                  </button>
            </div>
          </ng-template>
          </div>
          <!-- MODAL 7 :  SPEACIAL EVENT CASE END -->   


          <!-- MODAL 8 : SPECIAL EVENT ADD CLIENT -->
          <div class="row">
            <ng-template #content8 let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title">Nouveau Client</h4>
                <button
                  type="button"
                  class="close"
                  aria-label="Close"
                  (click)="d('Cross click')"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <!--begin::Form-->
                  <form
                    class="form"
                    [formGroup]="customerForm"
                    autocomplete="off"
                    novalidate="novalidate"
                    class="ml-5"
                  >
                    <!-- NAME -->
                    <div class="row align-middle mt-5">
                      <div class="col-4 align-middle">
                        <label class="align-middle">Nom et prénom:</label>
                      </div>
                      <div class="col-6">
                        <div class="input-group input-group-sm">
                          <input
                            type="text"
                            class="form-control form-control-solid"
                            aria-describedby="basic-addon2"
                            formControlName="name"
                          />
                        </div>
                      </div>
                    </div>

                    <!-- NAME -->

                    
                    <!-- AGE -->
                    <div class="row align-middle mt-5">
                      <div class="col-4 align-middle">
                        <label class="align-middle">Date de naissance:</label>
                      </div>
                      <div class="col-6">
                        <div class="input-group input-group-sm">
                          <input
                            type="date"
                            class="form-control form-control-solid"
                            aria-describedby="basic-addon2"
                            formControlName="birthdate"
                          />
                        </div>
                      </div>
                    </div>
                    <!-- AGE -->

                    <!-- SEXE -->
                    <div class="row align-middle mt-5">
                      <div class="col-4 align-middle">
                        <label class="align-middle mt-2">Gender:</label>
                      </div>
                      <div class="col-6">
                        <select
                          formControlName="gender"
                          class="form-control form-control-solid"
                        >
                          <option value="homme" class="mt-1">Homme</option>
                          <option value="femme">Femme</option>
                        </select>
                      </div>
                    </div>
                    <!-- SEXE -->

                    <!-- WILAYA -->
                    <div class="row align-middle mt-5">
                      <div class="col-4 align-middle">
                        <label class="align-middle mt-2">Wilaya:</label>
                      </div>
                      <div class="col-6">
                        <select
                          formControlName="wilaya"
                          class="form-control form-control-solid"
                          (change)="onWilayaSelect()"
                        >
                        <option
                        *ngFor="let wilaya of wilayas"
                        [value]="wilaya.code_value"
                        class="mt-1"
                      >
                        {{ wilaya.code_cmmt }}
                      </option>
                        </select>
                      </div>
                    </div>
                    <!-- WILAYA -->

                    <!-- COMMUNE -->
                    <div class="row align-middle mt-5">
                    <div class="col-4 align-middle">
                      <label class="align-middle mt-2">Commune:</label>
                    </div>
                    <div class="col-6">
                      <select
                        formControlName="commune"
                        class="form-control form-control-solid"
                      >
                          <option
                          *ngFor="let commune of communes"
                          [value]="commune.code_value"
                          class="mt-1"
                        >
                          {{ commune.code_cmmt }}
                        </option>
                      </select>
                    </div>
                    </div>
                    <!-- COMMUNE -->

                    <!-- EMAIL -->
                    <div class="row align-middle mt-5">
                      <div class="col-4 align-middle">
                        <label class="align-middle">Email:</label>
                      </div>
                      <div class="col-6">
                        <div class="input-group input-group-sm">
                          <input
                            type="text"
                            class="form-control form-control-solid"
                            aria-describedby="basic-addon2"
                            formControlName="email"
                          />
                        </div>
                      </div>
                    </div>

                    <!-- EMAIL -->
                  </form>
                  <!--end::Form-->
                </div>
              </div>
              <div class="modal-footer">
                <button
                  hidden
                  id="closeForm"
                  class="btn btn-primary"
                  (click)="c('Close click')"
                ></button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  (click)="c('Close click')"
                >
                  annuler
                </button>
                <button
                  type="button"
                  class="btn btn-abracadabra"
                  (click)="saveCustomer()"
                >
                  Ajouter
                </button>
              </div>
            </ng-template>
          </div>
          <!-- MODAL 8 END -->


         


    </kt-portlet-body>
