.btn-abracadabra{
    background-color: #9e110d;
    color:white;
}

.btn-abracadabra:hover{
    background-color: #ffb701;
    color:#9e110d;
}

.main-container{
    background-color: beige;
}

.section-title{
    color:#ffb701 ;
}

.fc-daygrid-event{
    height:120px !important;
}

.form-group-bg{
    background-color: beige;
    justify-content: center;
    padding: 13px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
}
