<kt-portlet>
    <kt-portlet-header [sticky]="true" [title]="'Déclaration de accident/incident'" [class]="'card-head-lg'">
        <ng-container ktPortletTools>
            
            <button type="button" (click)="goBack()" class="btn btn-secondary btn-sm mr-2">annuler</button>
            <button type="button" (click)="reset()" class="btn btn-secondary btn-sm mr-2">Réinitialiser</button>
            <button type="button" (click)="onSubmit()" class="btn btn-success btn-sm mr-2">enregistrer </button>

        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="example-preview">

            <form class="form" [formGroup]="accidentForm">
                <kt-alert *ngIf="isExist" type="warn" [showCloseButton]="true" [duration]="10000"
                    (close)="onAlertClose($event)">
                    Ce Code existe deja
                </kt-alert>

                <!-- DATE AND HOUR  -->
                <div class="row">
                    <div class="form-group col-2">
                        <label class="form-group">date de accident: *</label>
                            <div class="input-group input-group-sm">

                                <input class="form-control form-control-sm form-control-solid" formControlName="accident_date"
                                placeholder="jj-mm-aaaa" name="tr_rcp_date1" ngbDatepicker f
                                #tr_rcp_date1="ngbDatepicker"
                                (change) = "onDateUpdate()"
                                >
                            <div class="input-group-append">
                                <button class="btn btn-abracadabra" (click)="tr_rcp_date1.toggle()" type="button">
                                    <i class="flaticon-calendar-with-a-clock-time-tools"></i>
                                </button>
                            </div>
                            </div>
                    </div>

                    <!-- <div class="form-group col-2">
                        <label class="form-group"> l'heure de accident :</label>
                            <ngb-timepicker [(ngModel)]="new_even_time "></ngb-timepicker>
                          
                    </div> -->
                </div>

                <!-- site  -->
                <div class="row">

                    <div class="form-group col-2">
                        <label class="form-group">Code site :</label>
                        <div class="input-group input-group-sm">

                            <input type="text" class="form-control form-control-solid" id="cust" formControlName="site_code"  (change)="onChangeSite()"
                                aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text" (click)="open3(content3)">
                                    <i class="text-dark-50 flaticon2-search"></i> </span>
                            </div>
                        </div>

                    </div>

                    <div class="form-group col-2">
                        <label class="form-group">Site :</label>
                        <div>

                            <h5>{{site_name}}</h5>
                        </div>
                    </div>

                    

                </div>

               

                <div class="row">

                    <div class="form-group col-2">
                        <label class="form-group">Code employé :</label>
                        <div class="input-group input-group-sm">

                            <input type="text" class="form-control form-control-solid" id="cust" formControlName="emp_code"  (change)="onChangeSite()"
                                aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text" (click)="open4(content4)">
                                    <i class="text-dark-50 flaticon2-search"></i> </span>
                            </div>
                        </div>

                    </div>

                    <div class="form-group col-2">
                        <label class="form-group">Nom et prenom employé: *</label>
                        <input type="text" (change)="onChangeCode()"
                        [className]="accidentForm.controls['name'].errors && (accidentForm.controls['name'].dirty || accidentForm.controls['name'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'"
                        formControlName="name">
                            <div *ngIf="accidentForm.controls['name'].errors && (accidentForm.controls['name'].dirty || accidentForm.controls['name'].touched)"
                            class="invalid-feedback">Ce Champs est obligatoire</div>
                     </div>

                     <div class="form-group col-2">
                        <label class="form-group">Description: *</label>
                        <!-- <textarea formControlName="description" rows="2" type="text"></textarea> -->
                        <input type="text" (change)="onChangeCode()"
                        [className]="accidentForm.controls['description'].errors && (accidentForm.controls['description'].dirty || accidentForm.controls['description'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'"
                        formControlName="description"> 
                             <!-- <div *ngIf="accidentForm.controls['description'].errors && (accidentForm.controls['description'].dirty || accidentForm.controls['description'].touched)"
                            class="invalid-feedback">Ce Champs est obligatoire</div> -->
                     </div>

                     

                </div>

               

                

                <!-- CHECK ELEMENTS -->
                <div class="row mt-5 ml-2">
                    <div class="row">
                        <div class="accordion" id="accordionExample">

                            <div class="accordion-item" *ngFor="let ELEM of data; let i = index">
                                <h3 class="accordion-header" id="panelsStayOpen-headingOne-{{i}}">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" attr.data-bs-target="#panelsStayOpen-collapseOne-{{i}}" aria-expanded="true" attr.aria-controls="panelsStayOpen-collapseOne-{{i}}">
                                      {{ELEM.group_title}}
                                    </button>
                                  </h3>

                                  <div id="panelsStayOpen-collapseOne-{{i}}" class="accordion-collapse collapse " attr.aria-labelledby="panelsStayOpen-headingOne-{{i}}">
                                    <div class="accordion-body">
                                        
                                        <div
                                        class="col-12"
                                        *ngFor="let elem of ELEM.elements; let j = index"
                                        >
                                        <fieldset class="col-6">
                                            <input
                                              (change)="onCheckClick(elem.mpd_label,ELEM.group_title)"
                                              type="checkbox"/>
                                    
                                            <label  class="ml-2">
                                              {{elem.mpd_label}}
                                          </label>
                                          </fieldset>
                                        
                                        </div>
                                     
            
                                    </div>
                                  </div>

                            </div>

                        </div>
                    </div>
                </div>
                <!-- CHECK ELEMENTS -->

            </form>
            
            
           
        </div>

        <!-- SITE POUPU (GRID) -->
        <div>
            <ng-template #content3 let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title"> les sites</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <angular-slickgrid class="col-12" gridHeight="300" gridId="gridpro"
                            [columnDefinitions]="columnDefinitions3" (onAngularGridCreated)="angularGridReady3($event)"
                            (sgOnSelectedRowsChanged)="handleSelectedRowsChanged3($event.detail.eventData, $event.detail.args)"
                            [gridOptions]="gridOptions3" [dataset]="sites">
                        </angular-slickgrid>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">annuler</button>
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
                </div>
            </ng-template>
        </div>
        <!-- SITE POUPU (GRID) END -->

        <!-- EMP POUPU (GRID) -->
        <div>
            <ng-template #content4 let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title"> les employés</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <angular-slickgrid class="col-12" gridHeight="300" gridId="gridpro"
                            [columnDefinitions]="columnDefinitions4" (onAngularGridCreated)="angularGridReady4($event)"
                            (sgOnSelectedRowsChanged)="handleSelectedRowsChanged4($event.detail.eventData, $event.detail.args)"
                            [gridOptions]="gridOptions4" [dataset]="emps">
                        </angular-slickgrid>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">annuler</button>
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
                </div>
            </ng-template>
        </div>
        <!-- EMP POUPU (GRID) END -->

         <!-- SPACE -->
         <div class="empty_space">
            
         </div>
         <!-- SPACE -->

         <!-- TABLE DATA -->
            <div id="tablePdf" #tablePdf class="w-100">
                
                
                <table class="table table-bordered w-100">
                    
                    <tbody class="t_body">
                        <!-- <tr *ngFor="let elem of data"> -->
                        <tr>
                            <td class="w-25">NOM & Prénom </td>
                            <td class="w-75">{{emp_name}}</td>    
                        </tr>

                        <tr>
                            <td class="w-25">Date et heure </td>
                            <td class="w-75">{{accident_date}}</td>    
                        </tr>

                        <tr>
                            <td class="w-25">Lieu de accident / incident </td>
                            <td class="w-75">{{site_name}}</td>    
                        </tr>
                        
                        <tr>
                            <td class="w-25">Description de l’accident ou de l’incident </td>
                            <td class="w-75"></td>    
                        </tr>

                        <tr  *ngFor="let ELEM of data; let i = index" >
                                <td class="w-25 " *ngIf="2>i"> {{ELEM.group_title}}</td>
                            
                                <td class="w-75 " *ngIf="2>i" >
                                    <div *ngFor="let elem of ELEM.elements; let j = index">
                                        <input 
                                        type="checkbox"
                                        [(ngModel)]="elem.checked"
                                        />
                                        
                                            <span  class="ml-2 "> {{elem.mpd_label}}</span>

                                        
                                        
                                    </div>
                                    <br>
                                </td>
                                
                                
                        
                            <!-- <td  *ngIf="2>i">
                                    Observation : 
                            </td> -->
                        </tr>
                    
                    </tbody>
                </table>
            
            </div>
        <!-- TABLE DATA -->

       <!-- SECOND PART -->
       <div id="tablePdf2" #tablePdf2 class="w-100">
        <table class="table table-bordered w-100">
            <tbody class="t_body">
                <tr  *ngFor="let ELEM of data; let i = index" >
                    <td class="w-25 " *ngIf="i>2"> {{ELEM.group_title}}</td>
                
                    <td class="w-75 " *ngIf="i>2" >
                        <div *ngFor="let elem of ELEM.elements; let j = index" >
                            <input 
                             type="checkbox"
                             
                             [(ngModel)]="elem.checked"
                            />
                            
                                <span  class="ml-2"> {{elem.mpd_label}}</span>
                        
                        
                        </div>
                        <br>
                    </td>
                    
                    
            
                <!-- <td  *ngIf="2>i">
                        Observation : 
                </td> -->
                </tr>
            </tbody>
            
        </table>
       
       </div>
       <!-- SECOND PART -->

    </kt-portlet-body>
</kt-portlet>