.t_header{
    font-size: 30px;
    padding-left: 10px;
}

.t_body{
    font-size: 30px;
    padding-left: 10px;
}

.empty_cell{
    height: 100px;
}


.empty_space{
    height: 5000px;
}

html, body {margin: 0; height: 100%; overflow: hidden}

.text_condition{
    font-size: 10;
}

.small_text{
font-size: 5px !important;
}