.btn-abracadabra{
    background-color: #9e110d;
    color:white;
}

.btn-abracadabra:hover{
    background-color: #ffb701;
    color:#9e110d;
}

.main-container{
    background-color: beige;
}

.section-title{
    color:#ffb701 ;
}

.dropdown-item{
    width: 20px;
}
.red-switch{
    color:#9e110d;
}
