
<kt-portlet class="main-container">
    <kt-portlet-header [sticky]="true" [title]="'Ajouter une population'" [class]="'card-head-lg main-container'" [viewLoading$]="loading$" style="background-color:beige">
        <ng-container ktPortletTools>
            <button type="button" (click)="goBack()" class="btn btn-secondary btn-sm mr-2">Annuller</button>
            <!-- <button type="button" (click)="direct()" class="btn btn-secondary btn-sm mr-2">Ajouter une catégorie</button> -->
            <button type="button" (click)="onSubmit()" class="btn btn-abracadabra btn-sm mr-2">Sauvgarder </button>
        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body class="main-container">
        <div class="example-preview">
            <div>
                <div>
                    {{ time | async }}
                </div>

                <form [formGroup]="populationForm" class="form">

                    <!-- <kt-alert *ngIf="isExist" type="warn" [showCloseButton]="true" [duration]="10000"
                    (close)="onAlertClose($event)">
                    Ce code customer existe deja - Si vous voulez le mettre à jour<button type="warn" class="btn">Cliquez ici</button>
                    </kt-alert>   (change)="onChangeCode()" -->
                    
                    <div class="row mb-2">
                      <!-- CODE POPULATION -->
                      <div class=" form-group col-4">
                        <!-- <span >Code paramètre:</span> -->
                            <label class="form-group " id="code" >code de la population:</label>
                            <input 
                            
                            type="text"
                            class="form-control form-control-sm form-control-solid"
                            formControlName="code_population"
                            (change) = "onChangeCode()"
                            >
                            
                            <div *ngIf="populationForm.controls['code_population'].errors && (populationForm.controls['code_population'].dirty || populationForm.controls['code_population'].touched)"
                            class="invalid-feedback">Ce Champs est obligatoire</div>

                      </div>
                      <!-- CODE POPULATION END  -->

                      <!-- DESC POPULATION -->
                      <div class=" form-group col-4">
                        <!-- <span >Code paramètre:</span> -->
                            <label class="form-group " >Description de la population:</label>
                            <input type="text"
                            class="form-control form-control-sm form-control-solid"
                            formControlName="desc_population">
                      </div>
                      <!-- DESC POPULATION END  -->
                    </div>

                    <!-- HEADET TITLE -->
                    <div class="row">
                        <h4>Filtres de recherche de clients</h4>
                    </div>
                    <!-- HEADET TITLE END -->

                    <!-- ROW 1  -->
                    <div class="row">

                      <!-- CLIENT TYPE -->
                      <div class=" form-group col-4">
                            <label class="form-group " >Type de client:</label>
                            <select formControlName="client_type" 
                            class=" form-control form-control-sm form-control-solid ">

                            <option value="s" class="mt-2 mb-2 dropdown-item">Standard</option>
                            <option value="p" class="mt-2 mb-2 dropdown-item">Premium</option>
                            <option value="ts" class="mt-2 mb-2 dropdown-item">Tout sélectionner</option>
                           
                            
                          </select>
                      </div>
                      <!-- CLIENT TYPE END  -->
                      
                      
                      <!-- CLIENT CLASS -->
                      <div class=" form-group col-4">
                        <!-- <span >Code paramètre:</span> -->
                        <label class="form-group " >Classe de client:</label>
                        <select formControlName="client_class" 
                          class=" form-control form-control-sm form-control-solid ">

                          <option value="e" class="mt-2 mb-2 dropdown-item">Entreprise</option>
                          <option value="p" class="mt-2 mb-2 dropdown-item">Particulier</option>
                          <option value="ts" class="mt-2 mb-2 dropdown-item">Tout sélectionner</option>
                        
                          
                            
                        </select>
                      </div>
                      <!-- CLIENT CLASS END  -->

                      <!-- DESC -->
                      <div class="form-group col-4">
                            <label class="form-group " >Région de client:</label>
                            <input type="text"
                            class="form-control form-control-sm form-control-solid"
                            formControlName="client_region">
                            <!-- <div *ngIf="paramFrom.controls['description'].errors && (paramFrom.controls['description'].dirty || paramFrom.controls['description'].touched)"
                            class="invalid-feedback">Ce Champs est obligatoire
                          </div>
                          [className]="paramFrom.controls['description'].errors && (paramFrom.controls['description'].dirty || paramFrom.controls['description'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'" -->
                      </div>
                      <!-- DESC END -->

                    </div>
                    <!-- ROW 1 END -->

                    <!-- ROW 2 -->
                    <div class="row">

                        <!-- START DATE -->
                        <div class="form-group col-2">
                          <label class="form-group"> Date de début: </label>
                      
                          <div class="input-group input-group-sm">
                              <input class="form-control form-control-sm form-control-solid" formControlName="start_date"
                                  placeholder="jj-mm-aaaa" name="tr_rcp_date1" ngbDatepicker f
                                  #tr_rcp_date1="ngbDatepicker">
                              <div class="input-group-append">
                                  <button class="btn btn-abracadabra" (click)="tr_rcp_date1.toggle()" type="button">
                                      <i class="flaticon-calendar-with-a-clock-time-tools"></i>
                                  </button>
                              </div>
                              
                          </div>
                        </div>
                        <!-- START DATE END -->

                        <!-- End DATE -->
                        <div class="form-group col-2">
                          <label class="form-group"> Date de fin: </label>
                      
                          <div class="input-group input-group-sm">
                              <input class="form-control form-control-sm form-control-solid" formControlName="end_date"
                                  placeholder="jj-mm-aaaa" name="tr_rcp_date" ngbDatepicker f
                                  #tr_rcp_date="ngbDatepicker">
                              <div class="input-group-append">
                                  <button class="btn btn-abracadabra" (click)="tr_rcp_date.toggle()" type="button">
                                      <i class="flaticon-calendar-with-a-clock-time-tools"></i>
                                  </button>
                              </div>
                              
                          </div>
                        </div>
                        <!-- START DATE END -->

                        <!-- DURATION -->
                        <div class="form-group col-2">
                            <label class="form-group">cm_db :</label>
                            <span class="switch switch-icon red-switch">
                                <label>
                                    <input type="checkbox"
                                        class="form-control form-control-sm form-control-solid"
                                        formControlName="cm_db" name="select" />
                                    <span></span>
                                </label>
                            </span>
                                  <!-- <div *ngIf="paramFrom.controls['duration'].errors && (paramFrom.controls['duration'].dirty || paramFrom.controls['duration'].touched)"
                                    class="invalid-feedback">Ce Champs est obligatoire
                                  </div>
                                  [className]="paramFrom.controls['duration'].errors && (paramFrom.controls['duration'].dirty || paramFrom.controls['duration'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'" -->
                        </div>
                        <!-- DURATION END -->

                        


                    </div>
                    <!-- ROW 2 END -->
                    <div class="row mt-5"> 
                      <!-- ADD DETAIL BUTTON -->
                        <div class="form-group col-12">
                            <button 
                                [disabled]="cantSearch"
                                class="btn btn-abracadabra btn-elevate " 
                                (click)="getCustomers()">
                                Rechercher 
                            </button>
                        </div>
                      <!-- ADD DETAIL BUTTON END -->
                    </div>


                </form> 
                
                <!-- DETAILS TITLE  -->
                <div class="row mt-7 mb-7">
                    <h4>Liste de clients</h4>
                </div>
                <!-- DETAILS TITLE END -->

                

                <!-- GRID -->
                <div class="row"> 
                        <angular-slickgrid class="col-12" gridHeight="300" gridWidth="1000"
                            gridId="grid" 
                            [columnDefinitions]="columnDefinitions"
                            (onAngularGridCreated)="angularGridReady($event)"
                            (sgOnSelectedRowsChanged)="onSelectedRowsChanged($event.detail.eventData, $event.detail.args)"
                            [gridOptions]="gridOptions" 
                            [dataset]="customers"
                            >
                        </angular-slickgrid>
                </div>
                <!-- GRID END -->
            
               
            </div>
        </div>

    </kt-portlet-body>
 