<kt-portlet>
    <kt-portlet-header [sticky]="true" [title]="'Ajouter un Paramétrage'" [class]="'card-head-lg'" [viewLoading$]="loading$">
      <ng-container ktPortletTools>
        <button type="button"   (click)="goBack()" class="btn btn-secondary btn-sm mr-2"> Annuler  </button>
        <button type="button"  (click)="reset()" class="btn btn-secondary btn-sm mr-2"> Réinitialiser </button>
        <button type="button" (click)="onSubmit()" class="btn btn-success btn-sm mr-2"> Enregistrer </button>
      </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
      <div class="example-preview">
        <form class="form" [formGroup]="codeForm">
            <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="3000"
            (close)="onAlertClose($event)">
            Ce Code existe deja
        </kt-alert> 
          <div class="row">
            <div class="form-group col-2">
              <label class="form-group">Paramétre:</label>
  
              <select
                [className]="
                  codeForm.controls['code_fldname'].errors &&
                  (codeForm.controls['code_fldname'].dirty ||
                    codeForm.controls['code_fldname'].touched)
                    ? 'form-control form-control-sm form-control-solid is-invalid'
                    : 'form-control form-control-sm form-control-solid'
                "
                formControlName="code_fldname"
                (change)="onChangeField()"
                id="exampleSelects7"
              >
                <option value=""></option>
                <option value="vd_type">Type</option>
                <option value="vd_shipvia">Mode Expédition</option>
                <option value="vd_promo">Groupe Promotion</option>
                <option value="vd_lang">Langue</option>
                <option value="check_form">Mode de Paiement</option>
                <option value="vd_cr_terms">Délai de Paiement</option>
                <option value="vd_sort">Activité</option>
                <option value="bank">Banque</option>
                
                
              </select>
              <div
                *ngIf="
                  codeForm.controls['code_fldname'].errors &&
                  (codeForm.controls['code_fldname'].dirty ||
                    codeForm.controls['code_fldname'].touched)
                "
                class="invalid-feedback"
              >
                Ce Champs est obligatoire
              </div>
            </div>
          </div>
          <div class="row">   
            <div class="form-group col-2">
              <label class="form-group">Code:</label>
              <input
                type="text"
                formControlName="code_value" (change)="onChangeCode()"
                [className]="
                  codeForm.controls['code_value'].errors &&
                  (codeForm.controls['code_value'].dirty ||
                    codeForm.controls['code_value'].touched)
                    ? 'form-control form-control-sm form-control-solid is-invalid'
                    : 'form-control form-control-sm form-control-solid'
                "
              />
              <div
                *ngIf="
                  codeForm.controls['code_value'].errors &&
                  (codeForm.controls['code_value'].dirty ||
                    codeForm.controls['code_value'].touched)
                "
                class="invalid-feedback"
              >
                Ce Champs est obligatoire
              </div>
            </div>
        </div>
        <div class="row">       
            <div class="form-group col-6">
              <label class="form-group">Designation:</label>
              <input
                type="text"
                [className]="
                  codeForm.controls['code_cmmt'].errors &&
                  (codeForm.controls['code_cmmt'].dirty ||
                    codeForm.controls['code_cmmt'].touched)
                    ? 'form-control form-control-sm form-control-solid is-invalid'
                    : 'form-control form-control-sm form-control-solid'
                "
                formControlName="code_cmmt"
              />
  
              <div
                *ngIf="
                  codeForm.controls['code_cmmt'].errors &&
                  (codeForm.controls['code_cmmt'].dirty ||
                    codeForm.controls['code_cmmt'].touched)
                "
                class="invalid-feedback"
              >
                Ce Champs est obligatoire
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-2">
                <label class="form-group ">Usage:</label>
               
                    <select class="form-control form-control-sm form-control-solid"
                        formControlName="code_desc" id="exampleSelects4">
                        <option value=""></option>
                        <option *ngFor="let elem of check_form" [value]="elem.code_value">
                            {{elem.code_value}} {{elem.code_cmmt}}</option>

                    </select>
                    <div *ngIf="codeForm.controls['code_desc'].errors && (codeForm.controls['code_desc'].dirty || codeForm.controls['code_desc'].touched)"
            class="invalid-feedback">Ce Champs est obligatoire</div>
                
            </div>
            <div class="form-group col-3">
                <label class="form-group">Délai: </label>
                <input type="number" formControlName="dec01" placeholder="délai de paiement" class='form-control form-control-sm form-control-solid' >
            </div>
          </div>   
          <div class="row">
            <angular-slickgrid class="col-12"  gridId="gridCode" [columnDefinitions]="columnDefinitions"
            (onAngularGridCreated)="angularGridReady($event)"
                [gridOptions]="gridOptions" [dataset]="dataset">
            </angular-slickgrid>
        </div>
        </form>
    </div>
</kt-portlet-body>
</kt-portlet>
