<kt-portlet >
    <kt-portlet-header [sticky]="true" [title]="'Chargement Des Vans '" [class]="'card-head-lg'" [viewLoading$]="loading$">
        <ng-container ktPortletTools>
            <button type="button" (click)="onSubmit()" class="btn btn-success btn-sm mr-2">Sauvgarder </button>
            <button type="button" (click)="onSaveCharge()" class="btn btn-danger btn-sm mr-2">Ferme Chargement </button>

        </ng-container>
        
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="example-preview  ">
            <div>
                {{ time | async }}
              </div>

            <!-- FORM -->
            <div>
                <form class="form" [formGroup]="chargeForm">
                    <div class="row ">
                        <div class="col-3">
                            <label class="form-group">Code de rôle:</label>
                            <select 
                            (change)="onSelectRole($event.target.value)"
                            name="role_code"
                            id="role_code"
                            formControlName="role_code"
                            class="form-control form-control-sm form-control-solid">
                            <option value=""></option>
                            <option *ngFor="let elem of roles" [value]="elem.role_code">
                                {{elem.role_code}} </option>
                            
                            </select> 
                        </div>  
                        <div class="col-3">
                            <label class="form-group">Code de demande de chargement:</label>
                            <select 
                            (change)="onSelectLoadRequest($event.target.value)"
                            name="load_request_code"
                            id="load_request_code"
                            formControlName="load_request_code"
                            class="form-control form-control-sm form-control-solid">
                            <option value=""></option>
                            <option *ngFor="let elem of loadRequests" [value]="elem.load_request_code">
                                {{elem.load_request_code}} </option>
                            
                            </select> 
                        </div>  
                    </div>

                
                    <br>
                    <div class="row">
                        <div class="col-12">
                           <h5>Demande de chargement sélectionnée : {{load_request_code}}</h5>
                        </div>  
                    </div>
                </form>

                <br>
                    <span>Liste de produits</span>
                <br><br>
            </div>
            <!-- FORM END -->

            <!-- TABLES -->
            <div *ngIf="showSpinner" class="d-flex justify-content-center">

                <div  class="spinner-border text-info" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="row mb-5" *ngFor="let productPage of loadRequestData" style="min-width: 1000px">
                <br><br>

                <!-- PAGE CARD -->

                <div class="card card-custom">
    
                    <!--begin::Header : PAGE HEADER --> 
                    <div class="card-header border-0 py-5  bg-success text-white">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label font-weight-bolder text-white">Page:<span class="ml-3">{{productPage.page_code}}</span></span>
                            
                        </h3>
                        <!-- <button type="button" (click)="onSubmit()" class="btn btn-danger btn-sm mr-2">Add Line </button> -->
                        <!-- <a (click)="open(content)" class="btn btn-white text-dark btn-sm font-weight-bolder"> -->
                        <div *ngIf="productPage.hasAddProduct" class="row">
                            <div class="col-6">
                                <select
                                *ngIf="productPage.hasAddProduct"
                                (change)="onSelectProductToAdd($event.target.value,productPage.page_code)"
                                class="form-control form-control-sm form-control-solid">
                                
                                <option *ngFor="let product of productPage.unselectedProducts" [value]="product.pt_desc1">
                                    {{product.product_code}}--{{product.pt_desc1}}</option>
                                
                                </select> 
                            </div>
                            
                            <a (click)="addRow(productPage.page_code)" class="col-6 btn btn-white text-dark btn-sm font-weight-bolder">
                                Ajouter un produit</a>
                        </div>
                    </div>
                    <!--end::Header : PAGE HEADER END -->


                    <!--begin::Body-->
                    <div class="card-body py-5 px-5 bg-light" *ngFor="let product of productPage.selectedProducts">

                        <!-- PRODUCT CARD -->
                        <div class="card card-custom ">
                            <div class="card-header border-0 bg-primary py-2">
                                <div class="card-title text-white ">
                                    <span class="mr-10">
                                        <span class="text-dark">Code produit </span>: {{product.product_code}}
                                    </span>
                                    <span class="mr-10">
                                        <span class="text-dark">Nom du produit :</span>  {{product.pt_desc1}} 
                                    </span>
                                    <span class="mr-10">
                                      <span class="text-dark"> Prix ​​du produit :</span>  {{product.pt_price}} DZ  
                                    </span>
                                                    
                                </div>
                                <div class="card-toolbar">
                                    <a (click)="open(content, product.product_code ,productPage.page_code )" class="btn btn-sm btn-white" >
                                        Ajouter une ligne
                                    </a>
                                </div>
                            </div>
                            <div class="separator separator-solid separator-white opacity-20"></div>
                            <div class="card-body text-white py-5" >
                                <div class="px-5 row text-dark"> 
                                    <!-- <h5 class="mr-10 col 2">Product Name : <span class="text-success">{{product.pt_desc1}}</span> </h5>
                                    <h5 class="mr-10 col-2">Product Price : <span class="text-success">{{product.pt_price}} DZ</span> </h5> -->
                                    <h5 class="mr-10 col-2">Quantité validée: <span class="text-success">{{product.qt_validated}}</span> </h5>
                                    <h5 class="mr-10 col-2">Quantité affectée: <span class="text-danger">{{product.qt_effected}}</span> </h5>
                                    <h5 class="mr-10 col-2">Quantité stockée: <span class="text-danger">{{product.qt_stored}}</span> </h5>
                                </div> 
                                <br>
                                <!--begin::Table-->
                                <div class="table-responsive">
                                    <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_1">
                                        <thead>
                                            <tr class="text-left">

                                                <th class="pr-0" style="width: 50px"></th>
                                                <th class="pr-0" style="width: 200px">Code de lot</th>
                                                <th style="min-width: 200px">Quantité en lot</th>
                                                <th style="min-width: 200px">Ancienne quantité</th>
                                                <th style="min-width: 200px">Quantité sélectionnée</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let lot of product.lots">
                                                <td class="pr-0" style="width: 50px"></td>
                                                <td class="pl-0">
                                                    <span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{lot.lot_code}}</span>
                                                </td>
                                                <td class="pl-0">
                                                    <span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{lot.qnt_lot}}</span>
                                                </td>
                                                <!-- NEW -->
                                                <td class="pl-0" *ngIf="!lot.lineIsOld">
                                                    <span class="text-dark-75 font-weight-bolder d-block font-size-lg">/</span>
                                                </td>
                                                <td class="pl-0" *ngIf="lot.lineIsOld">
                                                    <span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{lot.qt_effected}}</span>
                                                </td>
                                                <!-- NEW -->
                                                <td class="pl-0" *ngIf="lot.lineIsOld">
                                                    <!-- <span  class="text-dark-75 font-weight-bolder d-block font-size-lg">{{lot.qt_effected}}</span> -->
                                                    <input  type="number" max="50" (change)="updateQuantity($event.target.value,productPage.page_code,product.product_code,lot.lot_code)" value="{{lot.qnt_lot}}">
                                                </td>
                                                <td class="pl-0" *ngIf="!lot.lineIsOld">
                                                    <input  type="number" max="50" (change)="onInputChanged($event.target.value,productPage.page_code,product.product_code,lot.lot_code)" value="{{lot.qnt_lot}}">
                                                </td>
                                            </tr>
                                        </tbody>
                                       
                                    </table> 
                                </div>
                                <!--end::Table--> 
                            </div>
                        </div>
                        <!-- PRODUCT CARD -->
                    </div>
                    <!--end::Body-->
                    
                </div>

                <!-- PAGE CARD  END -->
                <br><br>
            </div>

            <!-- TABLES END-->

        </div>

        <!-- MODAL -->
        <div>
            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Sélectionnez les lots</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <angular-slickgrid class="col-12" gridHeight="300"
                            gridId="gridS" 
                            [columnDefinitions]="columnDefinitions"
                            (onAngularGridCreated)="angularGridReady($event)"
                            (sgOnSelectedRowsChanged)="onSelectedRowsChanged($event.detail.eventData, $event.detail.args)"
                            [gridOptions]="gridOptions" 
                            [dataset]="dataset"
                            >
                        </angular-slickgrid>
                    </div>
            
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                    <!-- <button type="button" class="btn btn-primary" (click)="onAddProductLine()">Add Line</button> -->
                </div>
            </ng-template>
        </div>
        <!-- MODAL END -->

    </kt-portlet-body>
</kt-portlet>


