<kt-portlet>
    <kt-portlet-header [sticky]="true" title="Rapport Journalier" [class]="'card-head-lg'"
        [viewLoading$]="loading$">
        <!--ng-container ktPortletTools>
            <button type="button" (click)="goBack()" class="btn btn-secondary btn-sm mr-2">Annuller</button>
            <button type="button" (click)="reset()" class="btn btn-secondary btn-sm mr-2">Réinitialiser</button>
            <button type="button" (click)="onSubmit()" class="btn btn-success btn-sm mr-2">Sauvgarder </button>

        </ng-container-->
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="example-preview">

            <form class="form" [formGroup]="poForm">
                <div class="row">
                    <div class="form-group col-2">
                        <label class="form-group">Site: *</label>
                    
                        <div class="input-group input-group-sm">

                            <input type="text" formControlName="tr_site" (change)="onChangesite()" id="tr_site"
                                [className]="poForm.controls['tr_site'].errors && (poForm.controls['tr_site'].dirty || poForm.controls['tr_site'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'"
                                aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text" (click)="opensite(contentsite)">
                                    <i class="text-dark-50 flaticon2-search"></i> </span>
                            </div>
                            <div *ngIf="poForm.controls['tr_site'].errors && (poForm.controls['tr_site'].dirty || poForm.controls['tr_site'].touched)"
                                class="invalid-feedback">Ce Champs est obligatoire</div>
                        </div>
                    </div>
                    <div class="form-group col-2" align="right" >
                        <label class="form-group">Date de Calcul:</label>
                        <div class="input-group input-group-sm" align="right" >
                            <input class="form-control form-control-sm form-control-solid"  formControlName="calc_date" (change)="change()"
                                 placeholder="jj-mm-aaaa" name="calc_date" ngbDatepicker f
                                #calc_date="ngbDatepicker"  (ngModelChange)= "change()" >
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="calc_date.toggle()"  type="button">
                                    <i class="flaticon-calendar-with-a-clock-time-tools"></i>
                                </button>
                            </div>
                            
                        </div>


                    </div>
                   
                </div> 
                <div class="row">
                    <angular-slickgrid class="col-12"  gridId="plagemvGrid" [columnDefinitions]="mvcolumnDefinitions"
                          [gridOptions]="mvgridOptions" [dataset]="mvdataset" (onAngularGridCreated)="mvGridReady($event)">
                    </angular-slickgrid>
                </div>
                <br>
             
                <div class="row">
                    <angular-slickgrid class="col-12"  gridId="mGrid"
                        [columnDefinitions]="columnDefinitions" [gridOptions]="gridOptions" [dataset]="dataset"
                        (onAngularGridCreated)="gridReady($event)">
                    </angular-slickgrid>
                </div>
            </form>
           
        </div>

       

        <div>
            <ng-template #contentsite let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Choisir Site </h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <angular-slickgrid class="col-12" gridHeight="300" gridId="gridsite"
                            [columnDefinitions]="columnDefinitionssite"
                            (onAngularGridCreated)="angularGridReadysite($event)"
                            (sgOnSelectedRowsChanged)="handleSelectedRowsChangedsite($event.detail.eventData, $event.detail.args)"
                            [gridOptions]="gridOptionssite" [dataset]="datasite">
                        </angular-slickgrid>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
                </div>
            </ng-template>
            <button hidden id="openSitesGrid" class="btn btn-primary" (click)="opensite(contentsite)">Launch demo
                modal</button>
        </div>
        
    </kt-portlet-body>
</kt-portlet>
