<kt-portlet class="main-container">
    <kt-portlet-header class="main-container" [sticky]="true" [title]="'Satisfaction du client'" [class]="'card-head-lg'" [viewLoading$]="loading$" style="background-color:beige">
        <!-- <ng-container ktPortletTools>
            <button type="button" (click)="goBack()" class="btn btn-secondary btn-sm mr-2">Annuler</button>
            <button type="button" (click)="onSubmit()" class="btn btn-abracadabra btn-sm mr-2">sauvegarder </button>
        </ng-container> -->

    </kt-portlet-header>
    <kt-portlet-body class="main-container">
        <div class="example-preview row">

            <!-- RECLAMATION FORM -->
            <form class="form col-6 offset-3" [formGroup]="satisfactionForm">
                <!-- CARD -->
                <div class="card card-custom gutter-b">
                    <div class="card-header">

                        <!-- TITLE  -->
                        <div class="card-title mt-2 mb-2 p-3">
                            <!-- <span class="card-icon">
                                <i class="flaticon-user text-primary icon-xl"></i>
                            </span> -->
                        <h3 class="card-label " style="color: #ffb701"> 
                            Soumettre vos feedback
                        </h3>
                        </div>

                        

                    </div>
                    <div class="card-body">
                        <kt-alert  *ngIf="orderNotExist" type="warn" [showCloseButton]="true" [duration]="10000"
                        (close)="onAlertClose($event)">
                        Aucune commande n'existe avec ce code
                        </kt-alert>

                        <div>
                            {{ time | async }}
                        </div>

                        <!-- ORDER NUMBER -->
                        <div class="row align-middle mt-5">
                            <div class="col-4 align-middle">
                                <label class="align-middle">Numéro de commande:</label>
                            </div>
                        </div>
                            <div class="col-4 row  mt-2">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-solid" (change)="getOrder()"  formControlName="order_code"
                                    aria-describedby="basic-addon2">
                                </div>
                            </div>
                        
                        <!-- ORDER NUMBER -->

                    


                        <!-- STATUS -->
                        <div class="row  mt-5">
                            <div class="col-4  ">
                                <label >Status:</label>
                            </div>
                        </div>
                        <div class="row  mt-5 ">
                            <div class=" ml-10 mb-5 feeedback-btn button " (click)="updateStatus('happy')">
                               <div class="happy image_div happy" ></div>
                            </div>
                            <div class=" ml-10 mb-5  feeedback-btn button " (click)="open(content,'okay')">
                                <div class="happy image_div okay"></div>
                            </div>
                            <div class=" ml-10 mb-5 feeedback-btn button" (click)="open(content,'angry')">
                                <div class="happy image_div angry"></div>
                            </div>
                        </div>
                        <!-- STATUS -->

                 

                    </div>
                    <div class="card-footer d-flex justify-content-center">
                        <button type="button" (click)="goBack()" class="btn btn-secondary btn-sm mr-2">Annuler</button>
                        <button type="button" (click)="onSubmit()" class="btn btn-abracadabra btn-sm mr-2">sauvegarder </button>
                    </div>
                </div>
                <!-- CARD END  -->
               

                
            </form>
            <!-- RECLAMATION FORM -->

        </div>

        <!-- MODAL -->
        <div class="row">
            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title" style="color: #ffb701">Soumettre vos reclamation</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row"> 
                       <!--begin::Form-->
                       <form class="form" [formGroup]="reclamationForm" autocomplete="off" novalidate="novalidate" class="ml-5">


                          <!-- SELECT -->
                          <div class="row  mt-5">
                            <div class="col-8">
                                <label >Choisir les causes:</label>
                            </div>
                        </div>
                        <div class="row mt-5 ml-2">
                                    <div class="row">
                                        <div class="col-12" *ngFor="let cause of reclamation_causes ">
                                            <div class="row mt-5">
                                                <fieldset class="col-6">

                                                    <input type="checkbox" class="mt-3" formControlName="{{cause.code_value}}"/>
                                                    <label for="coding" class="ml-2">{{cause.code_desc}}</label>
                                                </fieldset>

                                                <div class="input-group input-group-sm col-6">
                                                    <textarea rows="3" type="text" class="mt-1 form-control form-control-solid"  formControlName="{{cause.code_value}}text-area">
                                                    </textarea>
                                                </div>

                                            </div>
                                          </div>
                                    </div>
                            
                        </div>
                        <!-- SELECT -->

                    </form>
                    <!--end::Form-->
                    </div>
            
                </div>
                <div class="modal-footer">
                    <button hidden id="closeForm" class="btn btn-primary" (click)="c('Close click')"></button>
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                    <button type="button" class="btn  btn-abracadabra" (click)="saveComplaint()">Ajouter</button>
                </div>
            </ng-template>
        </div>
        <!-- MODAL END -->


    </kt-portlet-body>
</kt-portlet>


