<kt-portlet>
  <kt-portlet-header
    [sticky]="false"
    title="Transfert recette"
    [class]="'card-head-lg'"
    [viewLoading$]="loading$"
  >
    <!--ng-container ktPortletTools>
        <button type="button" (click)="goBack()" class="btn btn-secondary btn-sm mr-2">annuler</button>
        <button type="button" (click)="reset()" class="btn btn-secondary btn-sm mr-2">Réinitialiser</button>
        <button type="button" (click)="onSubmit()" class="btn btn-success btn-sm mr-2">enregistrer </button>

    </ng-container-->
  </kt-portlet-header>
  <kt-portlet-body>
    <div class="example-preview">
      <form class="form" [formGroup]="rvForm">
        <div class="row" style="display: flex; justify-content: center">
          <div class="form-group col-2">
            <label class="form-group">Date de Calcul:</label>
            <div class="input-group input-group-sm">
              <input
                class="form-control form-control-sm form-control-solid"
                formControlName="calc_date"
                (change)="change()"
                placeholder="jj-mm-aaaa"
                name="calc_date"
                ngbDatepicker
                f
                #calc_date="ngbDatepicker"
                (ngModelChange)="change()"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-primary"
                  (click)="calc_date.toggle()"
                  type="button"
                >
                  <i class="flaticon-calendar-with-a-clock-time-tools"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group col-2">
            <label class="form-group">Montant système:</label>

            <div class="input-group input-group-sm">
              <input
                type="text"
                formControlName="montant_tr"
                [className]="
                  rvForm.controls['montant_tr'].errors &&
                  (rvForm.controls['montant_tr'].dirty ||
                    rvForm.controls['montant_tr'].touched)
                    ? 'form-control form-control-sm form-control-solid is-invalid'
                    : 'form-control form-control-sm form-control-solid'
                "
                aria-describedby="basic-addon2"
              />

              <div
                *ngIf="
                  rvForm.controls['montant_tr'].errors &&
                  (rvForm.controls['montant_tr'].dirty ||
                    rvForm.controls['montant_tr'].touched)
                "
                class="invalid-feedback"
              >
                Ce Champs est obligatoire
              </div>
            </div>
          </div>
          <div class="form-group col-2">
            <label class="form-group">Montant a tranférer:</label>

            <div class="input-group input-group-sm">
              <input
                type="text"
                formControlName="montant_rl"
                [className]="
                  rvForm.controls['montant_rl'].errors &&
                  (rvForm.controls['montant_rl'].dirty ||
                    rvForm.controls['montant_rl'].touched)
                    ? 'form-control form-control-sm form-control-solid is-invalid'
                    : 'form-control form-control-sm form-control-solid'
                "
                aria-describedby="basic-addon2"
              />

              <div
                *ngIf="
                  rvForm.controls['montant_rl'].errors &&
                  (rvForm.controls['montant_rl'].dirty ||
                    rvForm.controls['montant_rl'].touched)
                "
                class="invalid-feedback"
              >
                Ce Champs est obligatoire
              </div>
            </div>
          </div>
          <div class="form-group col-2">
            <button
              type="button"
              (click)="onSubmit()"
              class="btn btn-success btn-sm mr-2 mt-9"
            >
              Transférer
            </button>
          </div>
        </div>
      </form>
    </div>
  </kt-portlet-body>
</kt-portlet>
