<kt-portlet>
    <kt-portlet-header [sticky]="true" title="Consultation CA Par Type" [class]="'card-head-lg'"
        [viewLoading$]="loading$">
       
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="example-preview">

            <form class="form" [formGroup]="soForm">
                
              
                    <div class="row">
                       
                        <div class="form-group col-3">
                            <label class="form-group">Date: *</label>
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-sm form-control-solid"  formControlName="calc_date" 
                                     placeholder="jj-mm-aaaa" name="calc_date" ngbDatepicker f
                                    #calc_date="ngbDatepicker"   >
                                <div class="input-group-append">
                                    <button class="btn btn-primary" (click)="calc_date.toggle()"  type="button">
                                        <i class="flaticon-calendar-with-a-clock-time-tools"></i>
                                    </button>
                                </div>
                                
                            </div>
    
                        </div>
                        <div class="form-group col-3">
                            <label class="form-group">A: *</label>
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-sm form-control-solid"  formControlName="calc_date1" 
                                     placeholder="jj-mm-aaaa" name="calc_date1" ngbDatepicker f
                                    #calc_date1="ngbDatepicker"   >
                                <div class="input-group-append">
                                    <button class="btn btn-primary" (click)="calc_date1.toggle()"  type="button">
                                        <i class="flaticon-calendar-with-a-clock-time-tools"></i>
                                    </button>
                                </div>
                                
                            </div>
    
                        </div>
                   
                        
                        <div class="form-group col-4">
                            <label class="form-group">Valider: *</label>
                            <div class="input-group input-group-sm">
    
                            <button type="button"  (click)="solist()" class="btn btn-sm btn-primary btn-elevate col-lg-4">Valider </button>
                            </div>
                        </div>    
                        <div class="form-group col-2">
                            <label class="form-group">Imprimer Récap: *</label>
                            <div class="input-group input-group-sm">
                               <button type="button"  class="btn btn-outline-primary mr-3" (click)="printpdf()"><i class="flaticon2-print"></i> Imprimer </button>
                            </div>
                        </div>       
                    </div> 
                <div class="row">
                    <angular-slickgrid class="col-12"  gridId="plagemvGrid"  
                          [columnDefinitions]="mvcolumnDefinitions"
                          
                          [gridOptions]="mvgridOptions" [dataset]="mvdataset" 
                          (onAngularGridCreated)="mvGridReady($event)">
                    </angular-slickgrid>
                </div>
               
               
            </form>
           
        </div>

       

      
        
       
        
    </kt-portlet-body>
</kt-portlet>



