<kt-portlet>
  <kt-portlet-header [sticky]="true" [title]="'affecter imprimantes a un utilisateur'" [class]="'card-head-lg'" [viewLoading$]="loading$">
    <ng-container ktPortletTools>
      <button type="button" (click)="onSubmit()" class="btn btn-success btn-sm mr-2">Sauvgarder</button>
      <button type="button" (click)="goBack()" class="btn btn-success btn-sm mr-2">Retour</button>
      <button type="button" (click)="reset()" class="btn btn-success btn-sm mr-2">Réinitialiser</button>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>
    <div class="example-preview">
      <form class="form" [formGroup]="printersForm">
        <div class="row">
          <div class="form-group col-2">
            <label class="form-group">Code imprimante: *</label>
            <div class="input-group input-group-sm">
              <input type="text" formControlName="usrd_code" [className]="printersForm.controls['usrd_code'].errors && (printersForm.controls['usrd_code'].dirty || printersForm.controls['usrd_code'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'" aria-describedby="basic-addon2" />
              <div class="input-group-append">
                <span class="input-group-text" (click)="openUsers(contentUsers)">
                  <i class="text-dark-50 flaticon2-search"></i>
                </span>
              </div>
              <div *ngIf="printersForm.controls['usrd_code'].errors && (printersForm.controls['usrd_code'].dirty || printersForm.controls['usrd_code'].touched)" class="invalid-feedback">Ce Champs est obligatoire</div>
            </div>
          </div>
        </div>
      </form>
      <div id="kt_account_settings_notifications" class="collapse show">
        <div style="display: flex; flex-direction: row" *ngFor="let printer of allPrinters; let i = index">
          <input style="width: 2.5ex; height: 2.5ex" type="checkbox" (change)="onChange($event, printer)" />
          <p style="margin-left: 20px">{{ printer.printer_desc }}</p>
        </div>
        <!--begin::Form-->

        <!--begin::Card body-->
        <!-- <div class="">
          <div class="min-w-250px fs-1 fw-bold text-gray-900">Les imprimantes disponibles:</div>

          <div>
            <ul class="nav flex-wrap nav-pills btn-outline nav-pills-custom gap-2 pb-2 pt-2">
              <div style="display: flex" class="col-2">
                <mat-radio-group [(ngModel)]="selectedOptions[printer.printer_desc]">
                  <mat-radio-button *ngFor="let printer of allPrinters" [value]="printer.printer_code">
                    {{ printer.printer_desc }}
                  </mat-radio-button>
                </mat-radio-group> 
              </div>
            </ul>
          </div>
        </div> -->
      </div>
    </div>
    <div>
      <ng-template #contentUsers let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Choissir un utilisateur</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <angular-slickgrid class="col-12" gridHeight="300" gridId="gridCode" [columnDefinitions]="columnDefinitions" (onAngularGridCreated)="angularGridReady($event)" (sgOnSelectedRowsChanged)="handleSelectedRowsChanged($event.detail.eventData, $event.detail.args)" [gridOptions]="gridOptions" [dataset]="users"> </angular-slickgrid>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
          <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
        </div>
      </ng-template>
    </div>
  </kt-portlet-body>
</kt-portlet>
